
   <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/ArtistaLogo.jpg" alt="ARTISTA Logo">
      </div>
      <div class="col-md-6 mt-1 p-4">
        <div class="card">
          <div class="card-body">
            <div class="sign-in-container">
              <form class="form" (ngSubmit)="submitForm()">
                <p>Step 1 of 2</p>
                <br>
                <h1>Join as </h1>
                <br><br>
                <div class="mb-3">
                  <label class="form-label">Email address</label>
                  <input type="email" name="Email" [(ngModel)]="formData.email" class="form-control" placeholder="Enter your Email" required>
                  <div *ngIf="!formData.email" class="text-danger">Email is required</div>
                </div>
                <div class="mb-3">
                  <label class="form-label">Password</label>
                  <input type="password" name="Password" [(ngModel)]="formData.password" class="form-control" placeholder="Password" required>
                  <!-- <div *ngIf="!formData.password" class="text-danger">Password is required</div> -->
                  <div *ngIf="!formData.password.match('^(?=.*[A-Z])')" class="text-danger">At least one uppercase letter is required</div>
                  <div *ngIf="!formData.password.match('(?=.*[a-z])')" class="text-danger">At least two lowercase letter is required</div>
                  <div *ngIf="!formData.password.match('(.*[0-9].*)')" class="text-danger">At least one digit is required</div>
                  <div *ngIf="!formData.password.match('(?=.*[!@#$%^&*])')" class="text-danger">At least one special character is required</div>
                  <div *ngIf="!formData.password.match('.{8,}')" class="text-danger">At least 10 characters long</div>
                </div>
  
                <div class="mb-3">
                  <label class="form-label"> Confirm Password</label>
                  <input type="password" name="ConfirmPassword" [(ngModel)]="formData.confirmPassword" class="form-control" placeholder="Confirm Password" required>
                  <div *ngIf="formData.password !== formData.confirmPassword" class="text-danger">Passwords do not match</div>
                </div>
                <div class="mb-3">
                  
                </div>
                <br><br><br>
                <div class="col-12">
                  <button type="button" (click)="submitForm()" class="btn btn-primary" [disabled]="!formData.email || !formData.password || formData.password !== formData.confirmPassword">Continue</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
