<div class="container">
  <div class="card">
  <div class="image">
    <img [src]="art.artwork_image_url
    " class="card-img-top" alt="Artwork Image">
    <div class="details">
        <h2 >{{art.artwork_name}}</h2>
        <p >{{art.artist_name}}</p>
    </div>
        <div class="more">

          <p class=" price"  ><strong>
            {{art.artwork_price | currency:'USD':'symbol':'1.2-2'}}
          </strong>  
       
        <p class="like-count"><strong><i class="bi bi-heart-fill"></i>{{formatLikeCount(art.total_likes)}}</strong></p>
      </div>
    </div>
  
</div>

</div>
