/* .card {
    overflow-x: scroll;
    white-space: nowrap;
    max-width: 150px;
    padding: 1rem;
    } */

h6{
  font-weight: bold;
}


.card img {
  height: 200px; /* Set the desired height for the image */
  object-fit: cover;
}


