.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust as needed */
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 1%;
}

.card-title,
.card-text {
  font-size: 1rem;
  margin-bottom: 2px;
}

.additional-texts {
  margin-top: 5px;
}

.artist-name,
.like-count {
  font-size: 0.7rem;
  margin-bottom: 2px;
}

.zoom-in-out-on-hover {
  transition: transform 0.3s ease;
}

.zoom-in-out-on-hover:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease;
}

.zoom-in-out-on-hover:active {
  transform: scale(0.999);
  transition: transform 0.3s ease;
}

.btn{
  padding-left: 0%;
  padding-right: 0%;
 
}
.container {
  display: flex;
  overflow: hidden;
  width: 100%; /* Adjust width as needed */
  position: relative;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  animation: none; /* Initially no animation */
}

.card {
  flex: 0 0 auto;
  min-width: 300px; /* Adjust card width */
  margin-right: 10px; /* Adjust spacing between cards */
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@keyframes scrollCards {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-500%);
  }
}

.container{
  animation: scrollCards 20s linear infinite; /* Apply animation on hover */
}
