<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Profile</title>

</head>

<app-navbar></app-navbar>


<div>

  <div class="d-flex justify-content-center ">
    <div class="upload-box">
      <h2>Edit Profile</h2>
      <div class="image">
        <div class="img__container" alt="Profile Photo" class="profile-photo">
          <img src={{userData.profile_photo_url}} alt={{userData.name}} />
          
        </div>
      </div>
     <div class="image"></div>>
      <!-- <button class="profile-photo-button">Upload Picture</button> -->

      <div class="custom-file-upload">
        <input type="file" id="artwork-image" name="artwork-image" accept="image/*">
        <label for="artwork-image" class="upload-button">
        <span>upload picture</span>
        </label>
      </div>

      <form action="#" method="post" id="edit-profile-form">
        <div class="form-field">
          <label for="artist-name">Artist Name:</label>
          <input type="text" id="artist-name" name="artist-name" value="John Hottes">
        </div>
        <div class="form-field">
          <label for="location">Location:</label>
          <input type="text" id="location" name="location" value="Australia">
        </div>
        <div class="form-field">
          <label for="bio">Bio:</label>
          <textarea id="bio" name="bio"
            rows="4">John Hottes is a professional artist dedicated to capturing the essence of life through his creative expressions. With a passion for digital illustration, he strives to evoke emotions, provoke thoughts, and inspire others through his work.</textarea>
        </div>
        <div class="button-container">
          <button type="submit" class="upload-button">Submit</button>
          <button type="button" routerLink="" class="cancel-button" onclick="cancelEdit()">Cancel</button>
        </div>
      </form>
    </div>
  </div>








  <script>
    function cancelEdit() {
      // Redirect or close the edit profile page
      alert("Edit profile cancelled.");
      // Example: window.location.href = "profile.php";
    }
  </script>

</div>




<app-footer></app-footer>
