<app-new-nav-bar></app-new-nav-bar>

<div class="container rounded bg-green mt-5 mb-5 main-form">
  <div class="row">
    <div class="col-md-3 border-right">

      <div class="small-container d-flex justify-content-center align-items-center ">

        <div class="card">
          <div class="status">
            {{userData.Status}}
          </div>
          <div class="upper">
            <img src="{{ userData.banner_img_url || '../../../../../assets/images/background.jpg' }}" class="img-fluid"
              (click)="onBannerImageClick()">
            <input type="file" #bannerInput (change)="onBannerFileSelected($event)" style="display: none;">
          </div>
          <div class="user text-center">
            <div class="profile">
              <img [src]="userData.ProfilePhoto || '../../../../../../../assets/images/profile2.png'"
                class="btn rounded-circle" width="80" (click)="onProfileImageClick()">
              <input type="file" #profileInput (change)="onFileSelected($event)" style="display: none;">
            </div>
          </div>
          <div class="mt-5 text-center" style="padding-top: 20px;">
            <h4 class="title fs-4 fw-bolder fst-italic" style="padding-left: 0">

              <span class="text-muted d-block mb-2 ">{{updateDetails.fName+' '+updateDetails.LName}} </span>
              <span class="text-muted d-block mb-2 profession">{{userData.Profession}} </span>
              <span class="text-muted d-block mb-2 location">{{userData.Location}}</span>
            </h4>

            <div class="d-flex justify-content-between align-items-center mt-4 px-4 container-fluid">
              <div class="stats">
                <h6 class="mb-0">Followers</h6>
                <span>{{userData.NumberOfFollowers}}</span>
              </div>
              <div class="stats">
                <h6 class="mb-0">Creations</h6>
                <span>{{userData.NumberOfArtworks}}</span>
              </div>
              <div class="stats">
                <h6 class="mb-0">Rating</h6>
                <span>{{userData.ratings | number: '1.1-1'}} 3</span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
      </div>
    </div>


    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3" style="padding-top: 0;">
          <h6 class="text-right">Edit your profile</h6>
        </div>
        <form #editArtistDetailsForm="ngForm" (ngSubmit)="updateProfile()">
          <div class="row mt-2">
            <div class="col-md-6">
              <label class="labels">First Name</label>
              <input type="text" class="form-control" placeholder="first name" [(ngModel)]="updateDetails.fName"
                name="artist-fName">
            </div>
            <div class="col-md-6">
              <label class="labels">Last Name</label>
              <input type="text" class="form-control" placeholder="last name" [(ngModel)]="updateDetails.LName"
                name="artist-LName">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <label class="labels">Profession</label>
              <input type="text" value="Dhanushka" class="form-control" [(ngModel)]="updateDetails.profession"
                name="profession">
            </div>



            <div class="col-md-6">
              <label class="labels">Date of Birth</label>


              <input type="date" name="dob" class="form-control" formControlName="dob" [(ngModel)]="updateDetails.dob">

            </div>


          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <label class="labels">description</label>
              <input style="height: 100px; width: 250px;" type="text" class="form-control" placeholder="bio"
                [(ngModel)]="updateDetails.description" name="description">
            </div>


            <div class="col-md-6">
              <label class="labels">Country</label>
              <select class="form-control custom-select" [(ngModel)]="updateDetails.location" name="location">
                <option value="" disabled>Select your country</option>
                <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
              </select>
            </div>

            <div class="form-group">

              <div class="input-group date" id="datepicker">

              </div>
            </div>
          </div>
          <div class="mt-5 d-flex justify-content-end">
            <button class="btn btn-primary profile-button me-3 save-button" type="submit">Save Profile details </button>
          </div>
        </form>


      </div>




      <div class="col-md-12" style="padding: 0; ">
        <div class="sss">
          <form (ngSubmit)="changePassword()">
            <div class="form-section1"
              style="border: 1px solid rgba(179, 179, 179, 0.8);  padding: 10px; border-radius: 5px; margin-bottom: 20px;">
              <h2>Change Password</h2>
              <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" [(ngModel)]="email" name="email" required />
              </div>
              <div class="mb-3">
                <label for="old-password" class="form-label">Old Password:</label>
                <input type="password" class="form-control" [(ngModel)]="oldPassword" name="old-password" required />
              </div>
              <div class="mb-3">
                <label for="new-password" class="form-label">New Password:</label>
                <input type="password" class="form-control" [(ngModel)]="newPassword" name="new-password" required />
              </div>
              <div class="mb-3">
                <label for="confirm-password" class="form-label">Confirm Password:</label>
                <input type="password" class="form-control" [(ngModel)]="confirmPassword" name="confirm-password"
                  required />
              </div>
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary save-button">Change Password</button>
              </div>
            </div>
          </form>
        </div>
      </div>



    </div>
    <div class="col-md-4">
      <div class="p-3 py-5">
        <div class="bbb-wrapper socialMedia">
          <div class="subcribe-form fl-wrap">
            <p style="color: black;">Update your social media links:</p>
            <form #editArtistDetailsForm="ngForm" (ngSubmit)="updateAllSocialMediaLinks()">
              <div *ngFor="let platform of socialAccounts[0];let i = index" class="social-media-item">
                <label class="social-media-label">
                  <img [src]="platform.logo_url" alt="{{platform.platform_name}} logo" class="social-media-logo">
                  <input type="text" class="social-media-input" style="width: 50px;" [(ngModel)]="platform.account_url"
                    name="socialMediaLink{{ platform.id }}" />
                </label>
              </div>
              <button type="submit" class="save-button ">Save Social Media Links</button>
            </form>

            <button style=" background-color: red; border: none ; margin-top: 315px;" type="button"
              routerLink="/artist/new-home" class="btn btn-secondary save-button ">Cancel</button>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
