<div class="card request-card" style="width: 720px;" >
  <div class="d-flex" style="height: 100%;">
      <div class="profile-pic">
          <img src="../assets/imgs/profile1.jpg" alt="Profile Picture" class="rounded-pill" style="width: 78px; height: 78px;">
      </div>
      <div class="card-body">
          <div class="d-flex" style="justify-content: space-between;">
              <div class="d-flex">
                  <span style="font-size: large;"> Rozel Anderson |</span>&nbsp;
                  <span class="fs-6 fw-medium mr-2 text-secondary">UX designer |</span>&nbsp;
                  <span class="fs-6 fw-medium text-info">Switzerland</span>
              </div>
          </div>
          <div style="margin: auto; text-align: left;">
              <a href="" class="fs-6">More Details</a>
          </div>

      </div>
      <div class="buttons d-flex">
          <button class="btn btn-danger">Remove</button>
      </div>
  </div>
</div>
<div class="card request-card" style="width: 720px;" >
  <div class="d-flex" style="height: 100%;">
      <div class="profile-pic">
          <img src="../assets/imgs/profile2.png" alt="Profile Picture" class="rounded-pill" style="width: 78px; height: 78px;">
      </div>
      <div class="card-body">
          <div class="d-flex" style="justify-content: space-between;">
              <div class="d-flex">
                  <span style="font-size: large;"> Peter Anderson |</span>&nbsp;
                  <span class="fs-6 fw-medium mr-2 text-secondary">UX designer |</span>&nbsp;
                  <span class="fs-6 fw-medium text-info">Switzerland</span>
              </div>
          </div>
          <div style="margin: auto; text-align: left;">
              <a href="" class="fs-6">More Details</a>
          </div>

      </div>
      <div class="buttons d-flex">
          <button class="btn btn-danger">Remove</button>
      </div>
  </div>
</div>
<div class="card request-card" style="width: 720px;" >
  <div class="d-flex" style="height: 100%;">
      <div class="profile-pic">
          <img src="../assets/imgs/profile3.jpg" alt="Profile Picture" class="rounded-pill" style="width: 78px; height: 78px;">
      </div>
      <div class="card-body">
          <div class="d-flex" style="justify-content: space-between;">
              <div class="d-flex">
                  <span style="font-size: large;"> Peter Anderson |</span>&nbsp;
                  <span class="fs-6 fw-medium mr-2 text-secondary">UX designer |</span>&nbsp;
                  <span class="fs-6 fw-medium text-info">Switzerland</span>
              </div>
          </div>
          <div style="margin: auto; text-align: left;">
              <a href="" class="fs-6">More Details</a>
          </div>

      </div>
      <div class="buttons d-flex">
          <button class="btn btn-danger">Remove</button>
      </div>
  </div>
</div>
<div class="card request-card" style="width: 720px;" >
  <div class="d-flex" style="height: 100%;">
      <div class="profile-pic">
          <img src="../assets/imgs/profile4.jpg" alt="Profile Picture" class="rounded-pill" style="width: 78px; height: 78px;">
      </div>
      <div class="card-body">
          <div class="d-flex" style="justify-content: space-between;">
              <div class="d-flex">
                  <span style="font-size: large;"> Peter Anderson |</span>&nbsp;
                  <span class="fs-6 fw-medium mr-2 text-secondary">UX designer |</span>&nbsp;
                  <span class="fs-6 fw-medium text-info">Switzerland</span>
              </div>
          </div>
          <div style="margin: auto; text-align: left;">
              <a href="" class="fs-6">More Details</a>
          </div>

      </div>
      <div class="buttons d-flex">
          <button class="btn btn-danger">Remove</button>
      </div>
  </div>
</div>

