<div *ngFor="let profile of filteredArtists" class="card request-card" style="width: 1000px;">
  <div class="d-flex" style="height: 100%;">
    <div class="profile-pic">
      <img src="{{profile.profile_photo_url}}" alt="Profile Picture" class="rounded-pill" style="width: 120px; height: 120px;  border: 5px solid #fff;">
    </div>
    <div class="card-body" style="margin-left: 30px;">
      <div class="d-flex" style="justify-content: space-between;">
        <div class="d-flex">
          <span style="font-size: large;">{{profile.fName}} {{profile.LName}} |</span>&nbsp;
          <span class="fs-6 fw-medium mr-2 text-secondary">{{ profile.profession }} |</span>&nbsp;
          <span class="fs-6 fw-medium text-info">{{ profile.location }}</span>
        </div>
      </div>
      <div style="margin: auto; text-align: left;">
        <a class="fs-6" (click)="goToPortfolio(profile.user_id)" style="color:rgb(105, 105, 237)"> <u> More Details </u></a>
      </div>
    </div>
    <div class="buttons d-flex">
      <button class="btn btn-danger" type="button" (click)="unfollow(profile.user_id.toString())">Unfollow</button>
    </div>
  </div>
</div>
