
.container
{
    background-image: linear-gradient(to right, #98d3f3, #2d9ad4);


}
.card-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
  }
 #container
 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
 } 
 #container div{
    height: 370px;
    width: 335px;
    background-color: aqua;
    margin: 60px;
    text-align: center;
 }
 label
 {
    font-weight: bold;
 }
 .custom-btn {
   width: 500px;
   background-color: aqua;
}
