<!--

<div class="d-flex justify-content-center  background-new" >
  <div class="upload-box ">
    <h2>Upload Artwork</h2>
    <form action="#" method="post">
      <div class="form-field">


        <div class="custom-file-upload">
          <input type="file" id="artwork-image" name="artwork-image" accept="image/*">
          <label for="artwork-image" class="upload-button">
          <span>upload file</span>
          </label>
        </div>


      </div>
      <div class="form-field">
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" class="styled-textarea"></textarea>
      </div>
      <div class="form-field">
        <label for="price">Price:</label>
        <input type="text" id="price" name="price">
      </div>
      <div class="form-field">
        <label for="artwork-name">Artwork Name:</label>
        <input type="text" id="artwork-name" name="artwork-name">
      </div>
      <div class="form-field">
        <label for="category">Category:</label>
        <select id="category" name="category">
          <option value="none">None</option>
          <option value="landscape">3D-Arts</option>
          <option value="portrait">Anime</option>
          <option value="portrait">Modern Graphic</option>
          <option value="abstract">Digital-painting</option>
        </select>
      </div>
      <div class="button-container">
        <button type="submit" class="upload-button">Upload Files</button>
        <button type="button" routerLink="" class="cancel-button">Back</button>
      </div>

    <div class="having-problems">
      <p>Having problems? Try the basic uploader.</p>
    </div>
  </div>
</div>


 -->

<!--
<app-navbar></app-navbar>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500&display=swap" rel="stylesheet">
</head>

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-6 col-md-7 p-0">


      <img src="../../../../../assets/imgs/art.jpg" class="left-image">

    </div>


    <div class="col-sm-6 col-md-5 intro-section">

      <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputGroupFile02">
        <label class="input-group-text btn-custom" for="inputGroupFile02">Upload File</label>
      </div>





    </div>


  </div>
</div>
<app-footer></app-footer> -->



<!-- <div class="login-wrapper">
  <div id="booking" class="section">
    <div class="section-center">
      <div class="container">
        <div class="row">
          <div class="booking-form">
            <div class="form-header">
              <h1>Make your reservation</h1>
            </div>
            <form>
              <div class="form-group"> <input class="form-control" type="text"
                  placeholder="Country, ZIP, city..."> <span class="form-label">Destination</span> </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group"> <input class="form-control" type="date" required> <span
                      class="form-label">Check In</span> </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group"> <input class="form-control" type="date" required> <span
                      class="form-label">Check out</span> </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group"> <select class="form-control" required>
                      <option value="" selected hidden>no of rooms</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                    </select> <span class="select-arrow"></span> <span class="form-label">Rooms</span> </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group"> <select class="form-control" required>
                      <option value="" selected hidden>no of adults</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                    </select> <span class="select-arrow"></span> <span class="form-label">Adults</span> </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group"> <select class="form-control" required>
                      <option value="" selected hidden>no of children</option>
                      <option>0</option>
                      <option>1</option>
                      <option>2</option>
                    </select> <span class="select-arrow"></span> <span class="form-label">Children</span> </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group"> <input class="form-control" type="email"
                      placeholder="Enter your Email"> <span class="form-label">Email</span> </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group"> <input class="form-control" type="tel" placeholder="Enter you Phone">
                    <span class="form-label">Phone</span> </div>
                </div>
              </div>
              <div class="form-btn"> <button class="submit-btn">Book Now</button> </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-md-7 p-0">
        <img src="../../../../../assets/imgs/art.jpg" class="left-image">
      </div>
      <div class="col-sm-6 col-md-5 intro-section">
        <!-- <div class="form-group">
          <label for="artType">Select Art Type</label>
          <select id="artType" class="form-control input-area">
            <option value="2d">2D Art</option>
            <option value="3d">3D Art</option>
          </select>
        </div> -->
        <div class="container mt-5">
          <h2>Upload Artwork</h2>

          <!-- Artwork Type Switch -->
          <div class="mb-4">
            <label for="artworkType" class="form-label ">Select Artwork Type</label>
            <select
              id="artworkType"
              class="form-control artwork-type"
              [(ngModel)]="artType"
              (change)="onArtworkTypeChange()"
            >
              <option value="2d" class="input-area">2D Artwork</option>
              <option value="3d"  class="input-area">3D Artwork</option>
            </select>
          </div>



          <!-- 2D art//////////////////////////////// -->
          <form *ngIf="artType === '2d'"  (ngSubmit)="onSubmit2D()">
            <div class="input-group mb-3">
              <input  id="file2D" type="file" name="title" class="form-control input-area"  (change)="onFileSelect($event)" required>
              <label class="input-group-text btn-custom">Choose File</label>
            </div>

            <div class="input-group mb-3">
              <input  id="file2D" type="file" name="title" class="form-control input-area"  (change)="onFileSelect($event)" required>
              <label class="input-group-text btn-custom">Choose File</label>
            </div>
            <!-- <div *ngIf="fileName" class="file-name">{{ fileName }}</div> -->

            <div class="form-group">
              <label for="title2D">Artwork Title</label>
              <input type="text" id="title2D" name="title" class="form-control input-area" [(ngModel)]="new2DArtwork.title" ngModel required>
            </div>

            <div class="form-group">
              <label for="price2D">Price</label>
              <input type="number" id="price2D" name="price" class="form-control input-area" [(ngModel)]="new2DArtwork.price" ngModel required>
            </div>

            <div class="form-group">
              <label for="category3D">2D Category</label>
              <select id="category3D" name="category" class="form-control input-area" [(ngModel)]="new2DArtwork.category_id" required>
                <option *ngFor="let category of categories" [value]="category.category_id">{{ category.name }}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="description2D">Description</label>
              <textarea id="description2D" name="description" class="form-control input-area" [(ngModel)]="new2DArtwork.description " ngModel required></textarea>
            </div>

            <div class="mb-3">
              <label for="categoryFileTypes" class="form-label">Tags</label>
              <div class="d-flex flex-wrap">
                <span *ngFor="let j of new2DArtwork.tag_name; let i = index" class="badge bg-primary"
                  style="margin-bottom: 5px; margin-right: 5px">
                  {{ j.tag_name }}
                  <button type="button" class="btn-close" aria-label="Close" (click)="remove2DTag(i)"></button>
                </span>
              </div>
              <div class="input-group mt-2">
                <input type="text" class="form-control" placeholder="Add tag name" [(ngModel)]="new2DTag_Name"
                  name="new tag name" required #tag_nameInput="ngModel" />
                <button class="btn btn-primary" type="button" (click)="addNew2DTag()" [disabled]="tag_nameInput.invalid">
                  Add
                </button>
              </div>
              <div *ngIf="
                  new2DArtwork.tag_name.length === 0 &&
                  (tag_nameInput.touched || tag_nameInput.dirty) &&
                  tag_nameInput.invalid
                " class="alert alert-danger mt-2 p-2">
                At least one tag_name is required.
              </div>
            </div>
            <div class="form-group d-flex justify-content-between">
              <button type="submit" class="btn btn-custom">Upload 2D Artwork</button>
              <button type="button" class="btn btn-custom" >Cancel</button>
            </div>

            <div *ngIf="isUploading2D" class="uploading-animation">Uploading...</div>
          </form>

          <!-- 3D Artwork Form///////////////////////////////////////////////// -->
          <form   (ngSubmit)="onSubmit3D()"  *ngIf="artType === '3d'" >
            <div class="input-group mb-3">
              <input type="file" class="form-control input-area" (change)="onFileSelect($event)" required>
              <label class="input-group-text btn-custom">Choose File</label>
            </div>
            <div class="input-group mb-3">
              <input type="file" class="form-control input-area" (change)="onFileSelect($event)" required>
              <label class="input-group-text btn-custom">Choose File</label>
            </div>
            <div class="input-group mb-3">
              <input type="file" (change)="onFolderSelect($event)" webkitdirectory mozdirectory odirectory directory />
<label class="input-group-text btn-custom" (click)="newFolderUpload('3DArtwork', '3DArtwork')">Choose File</label>
            </div>
            <button class="btn btn-danger" (click)="deleteFolder('3DArtwork')">Delete Folder</button>
            <div *ngIf="fileName" class="file-name">{{ fileName }}</div>

            <div class="form-group">
              <label for="title3D">Artwork Title</label>
              <input type="text" id="title3D" name="title" class="form-control input-area" [(ngModel)]="new3DArtwork.title"  ngModel required>
            </div>



            <div class="form-group">
              <label for="price3D">Price</label>
              <input type="number" id="price3D" name="price" class="form-control input-area" [(ngModel)]="new2DArtwork.price" ngModel required>
            </div>

            <div class="form-group" >
              <label for="category3D">3D Category</label>
              <select id="category3D" name="category" class="form-control input-area" [(ngModel)]="new3DArtwork.category_id" required>
                <option *ngFor="let category of categories" [value]="category.category_id">{{ category.name }}</option>
              </select>
            </div>



            <div class="form-group">
              <label for="description3D">Description</label>
              <textarea id="description3D" name="description" class="form-control input-area" [(ngModel)]="new2DArtwork.description" ngModel required></textarea>
            </div>



            <div class="mb-3">
              <label for="categoryFileTypes" class="form-label">Tags</label>
              <div class="d-flex flex-wrap">
                <span *ngFor="let j of new3DArtwork.tag_name; let i = index" class="badge bg-primary"
                  style="margin-bottom: 5px; margin-right: 5px">
                  {{ j.tag_name }}
                  <button type="button" class="btn-close" aria-label="Close" (click)="remove3DTag(i)"></button>
                </span>
              </div>
              <div class="input-group mt-2">
                <input type="text" class="form-control" placeholder="Add tag name" [(ngModel)]="new3DTag_name"
                  name="new tag name" required #tag_nameInput="ngModel" />
                <button class="btn btn-primary" type="button" (click)="addNew3DTag()" [disabled]="tag_nameInput.invalid">
                  Add
                </button>
              </div>
              <div *ngIf="
                  new3DArtwork.tag_name.length === 0 &&
                  (tag_nameInput.touched || tag_nameInput.dirty) &&
                  tag_nameInput.invalid
                " class="alert alert-danger mt-2 p-2">
                At least one tag_name is required.
              </div>
            </div>



            <div class="form-group d-flex justify-content-between">
              <button type="submit" class="btn btn-custom" >Upload 3D Artwork</button>
              <button type="button" class="btn btn-custom" >Cancel</button>
            </div>

            <div *ngIf="isUploading3D" class="uploading-animation">Uploading...</div>
          </form>
        </div>


        <!-- <form *ngIf="artType === '2d'">
          <div class="input-group mb-3">
            <input type="file" class="form-control input-area" (change)="onFileSelect($event)" required>
            <label class="input-group-text btn-custom">Choose File</label>
          </div>
          <div *ngIf="fileName" class="file-name">{{ fileName }}</div>

          <div class="form-group">
            <label for="title2D">Artwork Title</label>
            <input type="text" id="title2D" name="title" class="form-control input-area" ngModel required>
          </div>

          <div class="form-group">
            <label for="price2D">Price</label>
            <input type="number" id="price2D" name="price" class="form-control input-area" ngModel required>
          </div>

          <div class="form-group">
            <label for="category2D">Category</label>
            <select id="category2D" name="category" class="form-control input-area" ngModel required>
              <option value="anime">Anime</option>
            </select>
          </div>

          <div class="form-group">
            <label for="description2D">Description</label>
            <textarea id="description2D" name="description" class="form-control input-area" ngModel required></textarea>
          </div>

          <div class="form-group">
            <label for="tags2D">Tags</label>
            <input type="text" id="tags2D" name="tags" class="form-control input-area" placeholder="Comma-separated tags" ngModel required>
          </div>

          <div class="form-group d-flex justify-content-between">
            <button type="submit" class="btn btn-custom" [disabled]="isUploading">Upload 2D Artwork</button>
            <button type="button" class="btn btn-custom">Cancel</button>
          </div>

          <div *ngIf="isUploading" class="uploading-animation">Uploading...</div>
        </form> -->

        <!-- <form *ngIf="artType === '3d'" >
          <div class="input-group mb-3">
            <input type="file" class="form-control input-area" (change)="onFileSelect($event)" required>
            <label class="input-group-text btn-custom">Choose File</label>
          </div>
          <div *ngIf="fileName" class="file-name">{{ fileName }}</div>

          <div class="form-group">
            <label for="title3D">Artwork Title</label>
            <input type="text" id="title3D" name="title" class="form-control input-area" ngModel required>
          </div>

          <div class="form-group">
            <label for="price3D">Price</label>
            <input type="number" id="price3D" name="price" class="form-control input-area" ngModel required>
          </div>

          <div class="form-group">
            <label for="category3D">Category</label>
            <select id="category3D" name="category" class="form-control input-area" ngModel required>
              <option value="sculpture">Sculpture</option>
            </select>
          </div>

          <div class="form-group">
            <label for="description3D">Description</label>
            <textarea id="description3D" name="description" class="form-control input-area" ngModel required></textarea>
          </div>

          <div class="form-group">
            <label for="tags3D">Tags</label>
            <input type="text" id="tags3D" name="tags" class="form-control input-area" placeholder="Comma-separated tags" ngModel required>
          </div>

          <div class="form-group d-flex justify-content-between">
            <button type="submit" class="btn btn-custom" [disabled]="isUploading">Upload 3D Artwork</button>
            <button type="button" class="btn btn-custom">Cancel</button>
          </div>

          <div *ngIf="isUploading" class="uploading-animation">Uploading...</div>
        </form> -->

      </div>
    </div>
  </div>
</div>



