/* body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  align-items: center;
  justify-content: center;
}


.upload-box {
  margin: 50px;
  background-color: rgba(61, 136, 227, 0.582);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 1000px;
}


.upload-box h2 {
  margin-bottom: 20px;
}

.form-field {
  margin-bottom: 20px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
}

.form-field input[type="file"],
.form-field input[type="text"],
.form-field select,
.form-field textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-container {
  text-align: center;
}

.upload-button{
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
  justify-content: center;
}

.cancel-button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;

}

.upload-button {
  background-color: #007bff;
  color: #fff;
}

.cancel-button {
  background-color: #ccc;
  color: #333;
}

.having-problems {
  margin-top: 20px;
  text-align: center;
}

.having-problems p {
  font-size: 14px;
  color: #333;
}





.custom-file-upload input[type="file"] {
  display: none;
  justify-content: center;
}

.upload-button {
  background-color: yellow;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  font-weight: bolder;
}

.upload-button:hover {
  background-color: darkgoldenrod;
}
.form-field {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.styled-textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  resize: vertical;
}

.styled-textarea:focus {
  outline: none;
  border-color: dodgerblue;
}

.styled-textarea:hover {
  border-color: #999;
}

.background-new{
  background-color: #fdfdfd;
  margin: 0;
  background-size: cover;
  backdrop-filter: blur(10px);


}


.buttonContain{
  display:inline-block;

} */


/* body {
  background-color: #d8d8d8;
  font-family: 'Karla', sans-serif; }

h1 > a {
    text-decoration:none;
    color:#fff !important;
}

.intro-section {
  background-image: url(https://i.ibb.co/t2tbbh6/pexels-luis-quintero-2471234.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px 25px;
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  color: #ffffff; }
  @media (max-width: 991px) {
    .intro-section {
      padding-left: 50px;
      padding-right: 50px; } }
  @media (max-width: 767px) {
    .intro-section {
      padding: 28px; } }
  @media (max-width: 575px) {
    .intro-section {
      min-height: auto; } }

.brand-wrapper .logo {
  height: 35px; }

@media (max-width: 767px) {
  .brand-wrapper {
    margin-bottom: 35px; } }

.intro-content-wrapper {
  width: 410px;
  max-width: 100%;
  margin-top: auto;
  margin-bottom: auto; }
  .intro-content-wrapper .intro-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 17px; }
  .intro-content-wrapper .intro-text {
    font-size: 19px;
    line-height: 1.37; }
  .intro-content-wrapper .btn-read-more {
    background-color: #fff;
    padding: 13px 30px;
    border-radius: 0;
    font-size: 16px;
    font-weight: bold;
    color: #000; }
    .intro-content-wrapper .btn-read-more:hover {
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff; }

@media (max-width: 767px) {
  .intro-section-footer {
    margin-top: 35px; } }

.intro-section-footer .footer-nav a {
  font-size: 20px;
  font-weight: bold;
  color: inherit; }
  @media (max-width: 767px) {
    .intro-section-footer .footer-nav a {
      font-size: 14px; } }
  .intro-section-footer .footer-nav a + a {
    margin-left: 30px; }

.form-section {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;





        }
  @media (max-width: 767px) {
    .form-section {
      padding: 35px; } }

.login-wrapper {
  width: 300px;
  max-width: 100%; }
  @media (max-width: 575px) {
    .login-wrapper {
      width: 100%; } }
  .login-wrapper .form-control {
    border: 0;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    margin-bottom: 7px; }
    .login-wrapper .form-control::-webkit-input-placeholder {
      color: #000000; }
    .login-wrapper .form-control::-moz-placeholder {
      color: #000000; }
    .login-wrapper .form-control:-ms-input-placeholder {
      color: #0e0101; }
    .login-wrapper .form-control::-ms-input-placeholder {
      color: #000000; }
    .login-wrapper .form-control::placeholder {
      color: #000000; }

.login-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px; }

.login-btn {
  padding: 13px 30px;
  background-color: #000;
  border-radius: 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff; }
  .login-btn:hover {
    border: 1px solid #000;
    background-color: transparent;
    color: #000; }

.forgot-password-link {
  font-size: 14px;
  color: #080808;
  text-decoration: underline; }

.social-login-title {
  font-size: 15px;
  color: #919aa3;
  display: -webkit-box;
  display: flex;
  margin-bottom: 23px; }
  .social-login-title::before, .social-login-title::after {
    content: "";
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#f4f4f4));
    background-image: linear-gradient(#f4f4f4, #f4f4f4);
    -webkit-box-flex: 1;
            flex-grow: 1;
    background-size: calc(100% - 20px) 1px;
    background-repeat: no-repeat; }
  .social-login-title::before {
    background-position: center left; }
  .social-login-title::after {
    background-position: center right; }

.social-login-links {
  text-align: center;
  margin-bottom: 32px; }

.social-login-link img {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain; }

.social-login-link + .socia-login-link {
  margin-left: 16px; }

.login-wrapper-footer-text {
  font-size: 14px;
  text-align: center; }

  .left-image{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    padding: 0;
  }
 */









/* ........................................................... */



/* Custom CSS for the upload button */
.btn-custom {
  background-color: #000; /* Black color */
  color: #fff; /* White text */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #0c0000; /* Darker shade on hover */
}

/* Custom CSS for the file input */
.form-control {
  border: 2px solid #000; /* Black border */
  border-radius: 5px;
}

.input-group-text {
  border: 2px solid #000; /* Black border */
  border-radius: 5px;
}

.input-group-text:hover {
  background-color: #000000; /* Darker shade on hover */
}

.input-group {
  display: flex;
  align-items: center;
}











 body {
  background-color: #d8d8d8;
  font-family: 'Karla', sans-serif;
}

.intro-section {
  background-image: url(https://i.ibb.co/t2tbbh6/pexels-luis-quintero-2471234.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px 25px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.left-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  padding: 0;
}

.btn-custom {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #444;
}



.input-group-text {
  border: 2px solid #000;
  border-radius: 5px;
}

.input-group-text:hover {
  background-color: #444;
}

.input-group {
  display: flex;
  align-items: center;

}

.file-name {
  margin-top: 10px;
}

.uploading-animation {
  animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
  0% { color: #000; }
  49% { color: #000; }
  60% { color: transparent; }
  99% { color: transparent; }
  100% { color: #000; }
}



.form-control {
  background-color: rgba(255, 255, 255, 0.606); /* Transparent background */
  color: #000000; /* Text color */
  border: 2px solid #000; /* Black border */
  border-radius: 5px; /* No border radius */
  padding: 10px;
}

.form-control::placeholder {
  color: #030000; /* Light gray placeholder text */
}

/* Custom CSS for the upload button */
.btn-custom {
  background-color: #000; /* Black color */
  color: #fff; /* White text */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #444; /* Darker shade on hover */
}

/* Custom CSS for the file input */
.form-control-file {
  display: none; /* Hide the default file input */
}

/* Optional: Styling for the uploading animation */
.uploading-animation {
  font-size: 1.2em;
  color: #000;
  margin-top: 10px;
}

.input-area{
   color: rgb(0, 0, 0);

}

select.input-area option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.artwork-type{
  padding: 0 10px;

}

/* buddhi */
.artwork {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-size: cover;
  align-items: center;
  cursor: pointer;
}

.artwork::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  background: inherit;
  background-size: cover;
  background-position: center;
  filter: blur(20px);
  z-index: 1;
}

.artwork img {
  max-height: 600px;
  min-height: 500px;
  width: auto;
  object-fit: contain;
  position: relative;
  z-index: 2;
}

.artwork-preview {
  width: 100%;
  height: auto;
}
.artwork1 {
  width: 100%;
  height: auto;
}
.likeCount-pubDate {
  margin-top: 0.4125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}
.pub-date-style {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}
.body1 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem;
  color: #565656;
}

.body2 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.625rem;
}
.body3{
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.tag {
  background-color: #0f969c;
  letter-spacing: 1px;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 200;
  margin: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.tag:hover {
  background-color: #0c6d72;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem;

  th {
    text-align: left;
    padding: 8px;
    background-color: #f2f2f2;
  }
  td {
    padding: 8px;
    background-color: #e0e0e0;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease;
    font-weight: bold;
    color: #333;
    text-align: left;
  }
  td:hover {
    background-color: #c0c0c0;
    cursor: pointer;
  }
}

.artwork-details {
  margin-top: 2.5rem;
}
.header-art {
  margin-bottom: 0.625rem;
  margin-top: 1.25rem;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.563rem;
  color: #150734;
}
.header-margin {
  margin-top: 0 !important;
}



/*choose 2D button */


.form-group select {
  width: 100%; /* Ensure the select box takes the full width of its container */
  max-width: 100%; /* Ensure it doesn't exceed the container's width */
  white-space: nowrap; /* Prevent wrapping of the text */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Show ellipsis if the text overflows */
  padding: 0;
  padding-left: 10px; /* Add padding to accommodate the dropdown arrow */
  box-sizing: border-box; /* Ensure padding is included in the width */
}
