<!--

<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-md-7 p-0">
        <img src="../../../../../assets/imgs/art.jpg" class="left-image">
      </div>
      <div class="col-sm-6 col-md-5 intro-section">

        <div class="container mt-5">
          <h2>Upload Artwork</h2>


          <div class="mb-4">
            <label for="artworkType" class="form-label ">Select Artwork Type</label>
            <select id="artworkType" class="form-control artwork-type" [(ngModel)]="artType"
              (change)="onArtworkTypeChange($event)">
              <option value="2d" class="input-area">2D Artwork</option>
              <option value="3d" class="input-area">3D Artwork</option>
            </select>
          </div>




          <form *ngIf="artType === '2d'" (ngSubmit)="upload2DArtwork()">
            <div class="input-group mb-3">
              <label>Upload Thumbnail</label>
              <input id="file2D" type="file" name="title" class="form-control input-area"
                (change)="onFileSelected1($event)" required>
              <label *ngIf="!thumbUrl" class="input-group-text btn-custom"
                (click)="onthumbUpload('2DThumbnails','profilePicture')">Upload</label>
              <button *ngIf="thumbUrl" type="button" (click)="removeThumb()">Remove</button>
            </div>

            <div class="form-group">
              <label for="title2D">Artwork Title</label>
              <input type="text" id="title2D" name="title" class="form-control input-area"
                [(ngModel)]="new2DArtwork.title" ngModel required>
            </div>

            <div class="form-group">
              <label for="price2D">Price</label>
              <input type="number" id="price2D" name="price" class="form-control input-area"
                [(ngModel)]="new2DArtwork.price" ngModel required>
            </div>

            <div class="form-group">
              <label for="category3D">2D Category</label>
              <select id="category3D" name="category" class="form-control input-area"
                [(ngModel)]="new2DArtwork.category_id" required>
                <option *ngFor="let category of categories" [value]="category.category_id">{{ category.name }}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="description2D">Description</label>
              <textarea id="description2D" name="description" class="form-control input-area"
                [(ngModel)]="new2DArtwork.description " ngModel required></textarea>
            </div>

            <div class="mb-3">
              <label for="categoryFileTypes" class="form-label">Tags</label>
              <div class="d-flex flex-wrap">
                <span *ngFor="let j of new2DArtwork.tag_name; let i = index" class="badge bg-primary"
                  style="margin-bottom: 5px; margin-right: 5px">
                  {{ j.tag_name }}
                  <button type="button" class="btn-close" aria-label="Close" (click)="remove2DTag(i)"></button>
                </span>
              </div>
              <div class="input-group mt-2">
                <input type="text" class="form-control" placeholder="Add tag name" [(ngModel)]="Tag_Name"
                  name="new tag name" required #tag_nameInput="ngModel" />
                <button class="btn btn-primary" type="button" (click)="addNew2DTag()"
                  [disabled]="tag_nameInput.invalid">
                  Add
                </button>
              </div>
              <div *ngIf="
                  new2DArtwork.tag_name.length === 0 &&
                  (tag_nameInput.touched || tag_nameInput.dirty) &&
                  tag_nameInput.invalid
                " class="alert alert-danger mt-2 p-2">
                At least one tag_name is required.
              </div>
            </div>

            <div class="mb-3">
              <label for="tools2D" class="form-label">Tools</label>
              <div class="d-flex flex-wrap">
                <span *ngFor="let tool of new2DArtwork.tools; let i = index" class="badge bg-primary"
                  style="margin-bottom: 5px; margin-right: 5px">
                  {{ tool.tool_name }}
                  <button type="button" class="btn-close" aria-label="Close" (click)="removeTool(i)"></button>
                </span>
              </div>
              <div class="input-group mt-2">
                <input type="text" class="form-control" placeholder="Add tool" [(ngModel)]="Tool_Name" name="new tool"
                  required #toolInput="ngModel" />
                <button class="btn btn-primary" type="button" (click)="addNewTool()" [disabled]="toolInput.invalid">
                  Add
                </button>
              </div>
              <div *ngIf="
                  new2DArtwork.tools.length === 0 &&
                  (toolInput.touched || toolInput.dirty) &&
                  toolInput.invalid
                " class="alert alert-danger mt-2 p-2">
                At least one tool is required.
              </div>
            </div>


            <div class="mb-3">
              <label for="fileFormats2D" class="form-label">File Formats</label>
              <div class="d-flex flex-wrap">
                <span *ngFor="let format of new2DArtwork.fileFormats; let i = index" class="badge bg-primary"
                  style="margin-bottom: 5px; margin-right: 5px">
                  {{ format.file_format_name }}
                  <button type="button" class="btn-close" aria-label="Close" (click)="removeFileFormat(i)"></button>
                </span>
              </div>
              <div class="input-group mt-2">
                <input type="text" class="form-control" placeholder="Add file format" [(ngModel)]="Format_name"
                  name="new file format" required #fileFormatInput="ngModel" />
                <button class="btn btn-primary" type="button" (click)="addNewFileFormat()"
                  [disabled]="fileFormatInput.invalid">
                  Add
                </button>
              </div>
              <div *ngIf="
                  new2DArtwork.fileFormats.length === 0 &&
                  (fileFormatInput.touched || fileFormatInput.dirty) &&
                  fileFormatInput.invalid
                " class="alert alert-danger mt-2 p-2">
                At least one file format is required.
              </div>
            </div>


            <div class="form-group d-flex justify-content-between">
              <button type="submit" class="btn btn-custom">Upload 2D Artwork</button>
              <button type="button" class="btn btn-custom" routerLink="/artist/new-home">Cancel</button>
            </div>

            <div *ngIf="isUploading2D" class="uploading-animation">Uploading...</div>
          </form>


          <form (ngSubmit)="upload3DArtwork()" *ngIf="artType === '3d'">
            <div class="input-group mb-3">
              <input type="file" class="form-control input-area" (change)="onFileSelected1($event)" required>
              <label class="input-group-text btn-custom" (click)="onthumbUpload('3DThumbnail','3DArtwork')">Choose
                File</label>
            </div>
            <div class="input-group mb-3">
              <input type="file" class="form-control input-area" (change)="onFileSelected2($event)" required>
              <label class="input-group-text btn-custom" (click)="onbgUpload('3DBackground','profilePicture')">Choose
                File</label>
            </div>
            <div class="input-group mb-3">
              <input type="file" (change)="onFolderSelect($event)" webkitdirectory mozdirectory odirectory directory />
              <label class="input-group-text btn-custom" (click)="newFolderUpload('3DArtwork', '3DArtwork')">Choose
                File</label>
            </div>
            <button class="btn btn-danger" (click)="deleteFolder('3DArtwork')">Delete Folder</button>

            <div class="form-group">
              <label for="title3D">Artwork Title</label>
              <input type="text" id="title3D" name="title" class="form-control input-area"
                [(ngModel)]="new3DArtwork.title" ngModel required>
            </div>



            <div class="form-group">
              <label for="price3D">Price</label>
              <input type="number" id="price3D" name="price" class="form-control input-area"
                [(ngModel)]="new3DArtwork.price" ngModel required>
            </div>

            <div class="form-group">
              <label for="category3D">3D Category</label>
              <select id="category3D" name="category" class="form-control input-area"
                [(ngModel)]="new3DArtwork.category_id" required>
                <option *ngFor="let category of categories" [value]="category.category_id">{{ category.name }}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="description3D">Description</label>
              <textarea id="description3D" name="description" class="form-control input-area"
                [(ngModel)]="new3DArtwork.description" ngModel required></textarea>
            </div>

            <div class="mb-3">
              <label for="categoryFileTypes" class="form-label">Tags</label>
              <div class="d-flex flex-wrap">
                <span *ngFor="let j of new3DArtwork.tag_name; let i = index" class="badge bg-primary"
                  style="margin-bottom: 5px; margin-right: 5px">
                  {{ j.tag_name }}
                  <button type="button" class="btn-close" aria-label="Close" (click)="remove2DTag(i)"></button>
                </span>
              </div>
              <div class="input-group mt-2">
                <input type="text" class="form-control" placeholder="Add tag name" [(ngModel)]="Tag_Name"
                  name="new tag name" required #tag_nameInput="ngModel" />
                <button class="btn btn-primary" type="button" (click)="addNew3DTag()"
                  [disabled]="tag_nameInput.invalid">
                  Add
                </button>
              </div>
              <div *ngIf="
                  new3DArtwork.tag_name.length === 0 &&
                  (tag_nameInput.touched || tag_nameInput.dirty) &&
                  tag_nameInput.invalid
                " class="alert alert-danger mt-2 p-2">
                At least one tag_name is required.
              </div>
            </div>

            <div class="mb-3">
              <label for="tools2D" class="form-label">Tools</label>
              <div class="d-flex flex-wrap">
                <span *ngFor="let tool of new2DArtwork.tools; let i = index" class="badge bg-primary"
                  style="margin-bottom: 5px; margin-right: 5px">
                  {{ tool.tool_name }}
                  <button type="button" class="btn-close" aria-label="Close" (click)="removeTool(i)"></button>
                </span>
              </div>
              <div class="input-group mt-2">
                <input type="text" class="form-control" placeholder="Add tool" [(ngModel)]="Tool_Name" name="new tool"
                  required #toolInput="ngModel" />
                <button class="btn btn-primary" type="button" (click)="addNewTool()" [disabled]="toolInput.invalid">
                  Add
                </button>
              </div>
              <div *ngIf="
                  new2DArtwork.tools.length === 0 &&
                  (toolInput.touched || toolInput.dirty) &&
                  toolInput.invalid
                " class="alert alert-danger mt-2 p-2">
                At least one tool is required.
              </div>
            </div>


            <div class="mb-3">
              <label for="fileFormats2D" class="form-label">File Formats</label>
              <div class="d-flex flex-wrap">
                <span *ngFor="let format of new2DArtwork.fileFormats; let i = index" class="badge bg-primary"
                  style="margin-bottom: 5px; margin-right: 5px">
                  {{ format.file_format_name }}
                  <button type="button" class="btn-close" aria-label="Close" (click)="removeFileFormat(i)"></button>
                </span>
              </div>
              <div class="input-group mt-2">
                <input type="text" class="form-control" placeholder="Add file format" [(ngModel)]="Format_name"
                  name="new file format" required #fileFormatInput="ngModel" />
                <button class="btn btn-primary" type="button" (click)="addNewFileFormat()"
                  [disabled]="fileFormatInput.invalid">
                  Add
                </button>
              </div>
              <div *ngIf="
                  new2DArtwork.fileFormats.length === 0 &&
                  (fileFormatInput.touched || fileFormatInput.dirty) &&
                  fileFormatInput.invalid
                " class="alert alert-danger mt-2 p-2">
                At least one file format is required.
              </div>
            </div>


            <div class="form-group d-flex justify-content-between">
              <button type="submit" class="btn btn-custom">Upload 3D Artwork</button>
              <button type="button" class="btn btn-custom">Cancel</button>
            </div>

            <div *ngIf="isUploading3D" class="uploading-animation">Uploading...</div>
          </form>
        </div>


          <div class="input-group mb-3">
            <input type="file" class="form-control input-area" (change)="onFileSelect($event)" required>
            <label class="input-group-text btn-custom">Choose File</label>
          </div>
          <div *ngIf="fileName" class="file-name">{{ fileName }}</div>

          <div class="form-group">
            <label for="title3D">Artwork Title</label>
            <input type="text" id="title3D" name="title" class="form-control input-area" ngModel required>
          </div>

          <div class="form-group">
            <label for="price3D">Price</label>
            <input type="number" id="price3D" name="price" class="form-control input-area" ngModel required>
          </div>

          <div class="form-group">
            <label for="category3D">Category</label>
            <select id="category3D" name="category" class="form-control input-area" ngModel required>
              <option value="sculpture">Sculpture</option>
            </select>
          </div>

          <div class="form-group">
            <label for="description3D">Description</label>
            <textarea id="description3D" name="description" class="form-control input-area" ngModel required></textarea>
          </div>

          <div class="form-group">
            <label for="tags3D">Tags</label>
            <input type="text" id="tags3D" name="tags" class="form-control input-area" placeholder="Comma-separated tags" ngModel required>
          </div>

          <div class="form-group d-flex justify-content-between">
            <button type="submit" class="btn btn-custom" [disabled]="isUploading">Upload 3D Artwork</button>
            <button type="button" class="btn btn-custom">Cancel</button>
          </div>

          <div *ngIf="isUploading" class="uploading-animation">Uploading...</div>
        </form>
      </div>
    </div>
  </div>
</div> -->
<!-- <app-navbar></app-navbar> -->
<app-new-nav-bar></app-new-nav-bar>
<section style="margin: 20px">
  <h3 class="title fs-4 fw-bolder fst-italic" style="padding-left: 0">
    Upload Your Creation
  </h3>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div *ngIf="!is3D" class="preview-container">
          <div
            class="artwork"
            [ngStyle]="{ 'background-image': 'url(' + thumbnail + ')' }"
          >
            <div *ngIf="!is3D">
              <img
                [src]="thumbUrl || '../../../../../assets/imgs/upload.jpeg'"
                alt="Artwork"
                class="artwork-preview"
              />
            </div>
          </div>
        </div>
        <div *ngIf="is3D" class="preview-container">
          <div class="artwork1">
            <div *ngIf="is3D">
              <!-- <app-model [objectUrl]="imageUrl" [textureUrl]="bg"></app-model> -->
              <img
                [src]="imageUrl || '../../../../../assets/images/art5.jpg'"
                alt="3D Artwork"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- //form -->
      <div class="col-lg-4">
        <div
          style=" background: #ffffff"
          class="tab-content"
        >
          <div class="container mt-5">
            <h2>Upload Artwork</h2>

            <!-- Artwork Type Switch -->
            <div class="mb-4">
              <label for="artworkType" class="form-label"
                >Select Artwork Type</label
              >
              <select
                id="artworkType"
                class="form-control artwork-type"
                [(ngModel)]="artType"
                (change)="onArtworkTypeChange($event)"
              >
                <option value="2d" class="input-area">2D Artwork</option>
                <option value="3d" class="input-area">3D Artwork</option>
              </select>
            </div>

            <!-- 2D art//////////////////////////////// -->
            <form *ngIf="artType === '2d'" (ngSubmit)="upload2DArtwork()">
              <div class="input-group mb-3">
                <div class="row">
                  <label>Upload Thumbnail Image</label>
                </div>
                <div class="row">
                  <input
                    id="file2D"
                    type="file"
                    name="title"
                    class="form-control input-area"
                    (change)="onFileSelected1($event)"
                    style="color: rgb(255, 0, 0)"
                    required
                  />
                  <label
                    *ngIf="!thumbUrl"
                    class="input-group-text btn-custom justify-content-center w-100 mt-2"
                    (click)="onthumbUpload('2DThumbnails', '3DArtwork')"
                    >Upload</label
                  >
                  <button
                    *ngIf="thumbUrl"
                    type="button"
                    class="btn btn-danger mt-2 w-100"
                    (click)="removeThumb()"
                  >
                    Remove
                  </button>
                </div>
              </div>

              <div class="form-group">
                <label for="title2D" >Artwork Title</label>
                <input
                  type="text"
                  id="title2D"
                  name="title"
                  class="form-control input-area"
                  [(ngModel)]="new2DArtwork.title"
                  ngModel
                  required
                />
              </div>

              <div class="form-group">
                <label for="price2D">Price</label>
                <input
                  type="number"
                  id="price2D"
                  name="price"
                  class="form-control input-area"
                  [(ngModel)]="new2DArtwork.price"
                  ngModel
                  required
                />
              </div>

              <div class="form-group">
                <label for="category3D">2D Category</label>
                <select
                  id="category3D"
                  name="category"
                  class="form-control input-area"
                  [(ngModel)]="new2DArtwork.category_id"
                  required
                >
                  <option
                    *ngFor="let category of categories"
                    [value]="category.category_id"
                  >
                    {{ category.name }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label for="description2D">Description</label>
                <textarea
                  id="description2D"
                  name="description"
                  class="form-control input-area"
                  [(ngModel)]="new2DArtwork.description"
                  ngModel
                  required
                ></textarea>
              </div>

              <div class="mb-3">
                <label for="categoryFileTypes" class="form-label">Tags</label>
                <div class="d-flex flex-wrap">
                  <span
                    *ngFor="let j of new2DArtwork.tag_name; let i = index"
                    class="badge bg-primary"
                    style="margin-bottom: 5px; margin-right: 5px"
                  >
                    {{ j.tag_name }}
                    <button
                      type="button"
                      class="btn-close"
                      aria-label="Close"
                      (click)="remove2DTag(i)"
                    ></button>
                  </span>
                </div>
                <div class="input-group mt-2">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Add tag name"
                    [(ngModel)]="Tag_Name"
                    name="new tag name"
                    required
                    #tag_nameInput="ngModel"
                  />
                  <button
                    class="btn btn-primary"
                    type="button"
                    (click)="addNew2DTag()"
                    [disabled]="tag_nameInput.invalid"
                  >
                    Add
                  </button>
                </div>
                <div
                  *ngIf="
                    new2DArtwork.tag_name.length === 0 &&
                    (tag_nameInput.touched || tag_nameInput.dirty) &&
                    tag_nameInput.invalid
                  "
                  class="alert alert-danger mt-2 p-2"
                >
                  At least one tag_name is required.
                </div>
              </div>

              <div class="mb-3">
                <label for="tools2D" class="form-label">Tools</label>
                <div class="d-flex flex-wrap">
                  <span
                    *ngFor="let tool of new2DArtwork.tools; let i = index"
                    class="badge bg-primary"
                    style="margin-bottom: 5px; margin-right: 5px"
                  >
                    {{ tool.tool_name }}
                    <button
                      type="button"
                      class="btn-close"
                      aria-label="Close"
                      (click)="removeTool(i)"
                    ></button>
                  </span>
                </div>
                <div class="input-group mt-2">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Add tool"
                    [(ngModel)]="Tool_Name"
                    name="new tool"
                    required
                    #toolInput="ngModel"
                  />
                  <button
                    class="btn btn-primary"
                    type="button"
                    (click)="addNewTool()"
                    [disabled]="toolInput.invalid"
                  >
                    Add
                  </button>
                </div>
                <div
                  *ngIf="
                    new2DArtwork.tools.length === 0 &&
                    (toolInput.touched || toolInput.dirty) &&
                    toolInput.invalid
                  "
                  class="alert alert-danger mt-2 p-2"
                >
                  At least one tool is required.
                </div>
              </div>

              <div class="mb-3">
                <label for="fileFormats2D" class="form-label"
                  >File Formats</label
                >
                <div class="d-flex flex-wrap">
                  <span
                    *ngFor="
                      let format of new2DArtwork.fileFormats;
                      let i = index
                    "
                    class="badge bg-primary"
                    style="margin-bottom: 5px; margin-right: 5px"
                  >
                    {{ format.file_format_name }}
                    <button
                      type="button"
                      class="btn-close"
                      aria-label="Close"
                      (click)="removeFileFormat(i)"
                    ></button>
                  </span>
                </div>
                <div class="input-group mt-2">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Add file format"
                    [(ngModel)]="Format_name"
                    name="new file format"
                    required
                    #fileFormatInput="ngModel"
                  />
                  <button
                    class="btn btn-primary"
                    type="button"
                    (click)="addNewFileFormat()"
                    [disabled]="fileFormatInput.invalid"
                  >
                    Add
                  </button>
                </div>
                <div
                  *ngIf="
                    new2DArtwork.fileFormats.length === 0 &&
                    (fileFormatInput.touched || fileFormatInput.dirty) &&
                    fileFormatInput.invalid
                  "
                  class="alert alert-danger mt-2 p-2"
                >
                  At least one file format is required.
                </div>
              </div>

              <div class="form-group d-flex justify-content-between">
                <button type="submit" class="btn btn-custom">
                  Upload 2D Artwork
                </button>
                <button
                  type="button"
                  class="btn btn-custom"
                  routerLink="/artist/new-home"
                >
                  Cancel
                </button>
              </div>

              <div *ngIf="isUploading2D" class="uploading-animation">
                Uploading...
              </div>
            </form>

            <!-- 3D Artwork Form///////////////////////////////////////////////// -->
            <form (ngSubmit)="upload3DArtwork()" *ngIf="artType === '3d'">
              <div class="input-group mb-3 justify-content-center">
                <div class="row w-100">
                  <!-- First Row: File Input -->
                  <div class="col-12 mb-2">
                    <input
                      type="file"
                      class="form-control input-area"
                      (change)="onFileSelected1($event)"
                      required
                    />
                  </div>
                  <!-- Second Row: Upload Button -->
                  <div class="col-12">
                    <label
                      class="input-group-text btn-custom w-100"
                      (click)="onthumbUpload('3DThumbnail', '3DArtwork')"
                      >Choose Thumbnail</label
                    >
                    <div *ngIf="file1SizeError" class="text-danger text-center">
                      Thumbnail image must be less than 50MB.
                    </div>
                  </div>
                </div>
              </div>

              <!-- Background Image Upload -->
              <div class="input-group mb-3 justify-content-center">
                <div class="row w-100">
                  <!-- First Row: File Input -->
                  <div class="col-12 mb-2">
                    <input
                      type="file"
                      class="form-control input-area"
                      (change)="onFileSelected2($event)"
                      required
                    />
                  </div>
                  <!-- Second Row: Upload Button -->
                  <div class="col-12">
                    <label
                      class="input-group-text btn-custom w-100"
                      (click)="onbgUpload('3DBackground', 'profilePicture')"
                      >Choose Background</label
                    >
                    <div *ngIf="file2SizeError" class="text-danger text-center">
                      Background image must be less than 30MB.
                    </div>
                  </div>
                </div>
              </div>

              <!-- Folder Upload -->
              <div class="input-group mb-3 justify-content-center">
                <div class="row w-100">
                  <!-- First Row: File Input -->
                  <div class="col-12 mb-2">
                    <input
                      type="file"
                      (change)="onFolderSelect($event)"
                      webkitdirectory
                      mozdirectory
                      odirectory
                      directory
                      class="form-control"
                    />
                  </div>
                  <!-- Second Row: Upload Button -->
                  <div class="col-12">
                    <label
                      class="input-group-text btn-custom w-100"
                      (click)="newFolderUpload('3DArtwork', '3DArtwork')"
                      >Choose Folder</label
                    >
                    <div *ngIf="folderSizeError" class="text-danger text-center">
                      Folder size must be less than 50MB.
                    </div>
                  </div>
                </div>
              </div>

              <!-- Progress Bar -->
              <div class="d-flex justify-content-center mb-3" *ngIf="isUploadingFolder">
                <div class="progress w-50">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    [style.width.%]="uploadProgress"
                    [attr.aria-valuenow]="uploadProgress"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    {{ uploadProgress }}%
                  </div>
                </div>
              </div>

              <!-- Upload Message -->
              <div class="d-flex justify-content-center mb-3" *ngIf="uploadMessage && !isUploadingFolder">
                <div class="alert" [ngClass]="{'alert-success': uploadProgress === 100, 'alert-danger': uploadProgress === 0}">
                  {{ uploadMessage }}
                </div>
              </div>

              <div class="d-flex justify-content-center mb-3">
                <button class="btn btn-danger" (click)="deleteFolder('3DArtwork')" *ngIf="subfolderName">
                  Delete Folder
                </button>
              </div>


              <div class="form-group">
                <label for="title3D">Artwork Title</label>
                <input
                  type="text"
                  id="title3D"
                  name="title"
                  class="form-control input-area"
                  [(ngModel)]="new3DArtwork.title"
                  ngModel
                  required
                />
              </div>

              <div class="form-group">
                <label for="price3D">Price</label>
                <input
                  type="number"
                  id="price3D"
                  name="price"
                  class="form-control input-area"
                  [(ngModel)]="new3DArtwork.price"
                  ngModel
                  required
                />
              </div>

              <div class="form-group">
                <label for="category3D">3D Category</label>
                <select
                  id="category3D"
                  name="category"
                  class="form-control input-area"
                  [(ngModel)]="new3DArtwork.category_id"
                  required
                >
                  <option
                    *ngFor="let category of categories"
                    [value]="category.category_id"
                  >
                    {{ category.name }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label for="description3D">Description</label>
                <textarea
                  id="description3D"
                  name="description"
                  class="form-control input-area"
                  [(ngModel)]="new3DArtwork.description"
                  ngModel
                  required
                ></textarea>
              </div>

              <div class="mb-3">
                <label for="categoryFileTypes" class="form-label">Tags</label>
                <div class="d-flex flex-wrap">
                  <span
                    *ngFor="let j of new3DArtwork.tag_name; let i = index"
                    class="badge bg-primary"
                    style="margin-bottom: 5px; margin-right: 5px"
                  >
                    {{ j.tag_name }}
                    <button
                      type="button"
                      class="btn-close"
                      aria-label="Close"
                      (click)="remove2DTag(i)"
                    ></button>
                  </span>
                </div>
                <div class="input-group mt-2">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Add tag name"
                    [(ngModel)]="Tag_Name"
                    name="new tag name"
                    required
                    #tag_nameInput="ngModel"
                  />
                  <button
                    class="btn btn-primary"
                    type="button"
                    (click)="addNew3DTag()"
                    [disabled]="tag_nameInput.invalid"
                  >
                    Add
                  </button>
                </div>
                <div
                  *ngIf="
                    new3DArtwork.tag_name.length === 0 &&
                    (tag_nameInput.touched || tag_nameInput.dirty) &&
                    tag_nameInput.invalid
                  "
                  class="alert alert-danger mt-2 p-2"
                >
                  At least one tag_name is required.
                </div>
              </div>

              <div class="mb-3">
                <label for="tools2D" class="form-label">Tools</label>
                <div class="d-flex flex-wrap">
                  <span
                    *ngFor="let tool of new3DArtwork.tools; let i = index"
                    class="badge bg-primary"
                    style="margin-bottom: 5px; margin-right: 5px"
                  >
                    {{ tool.tool_name }}
                    <button
                      type="button"
                      class="btn-close"
                      aria-label="Close"
                      (click)="removeTool1(i)"
                    ></button>
                  </span>
                </div>
                <div class="input-group mt-2">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Add tool"
                    [(ngModel)]="Tool_Name"
                    name="new tool"
                    required
                    #toolInput="ngModel"
                  />
                  <button
                    class="btn btn-primary"
                    type="button"
                    (click)="addNewTool1()"
                    [disabled]="toolInput.invalid"
                  >
                    Add
                  </button>
                </div>
                <div
                  *ngIf="
                    new3DArtwork.tools.length === 0 &&
                    (toolInput.touched || toolInput.dirty) &&
                    toolInput.invalid
                  "
                  class="alert alert-danger mt-2 p-2"
                >
                  At least one tool is required.
                </div>
              </div>

              <div class="mb-3">
                <label for="fileFormats2D" class="form-label"
                  >File Formats</label
                >
                <div class="d-flex flex-wrap">
                  <span
                    *ngFor="
                      let format of new3DArtwork.fileFormats;
                      let i = index
                    "
                    class="badge bg-primary"
                    style="margin-bottom: 5px; margin-right: 5px"
                  >
                    {{ format.file_format_name }}
                    <button
                      type="button"
                      class="btn-close"
                      aria-label="Close"
                      (click)="removeFileFormat1(i)"
                    ></button>
                  </span>
                </div>
                <div class="input-group mt-2">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Add file format"
                    [(ngModel)]="Format_name"
                    name="new file format"
                    required
                    #fileFormatInput="ngModel"
                  />
                  <button
                    class="btn btn-primary"
                    type="button"
                    (click)="addNewFileFormat1()"
                    [disabled]="fileFormatInput.invalid"
                  >
                    Add
                  </button>
                </div>
                <div
                  *ngIf="
                    new3DArtwork.fileFormats.length === 0 &&
                    (fileFormatInput.touched || fileFormatInput.dirty) &&
                    fileFormatInput.invalid
                  "
                  class="alert alert-danger mt-2 p-2"
                >
                  At least one file format is required.
                </div>
              </div>

              <div class="form-group d-flex justify-content-between">
                <button type="submit" class="btn btn-custom">
                  Upload 3D Artwork
                </button>
                <button type="button" class="btn btn-custom">Cancel</button>
              </div>

              <div *ngIf="isUploading3D" class="uploading-animation">
                Uploading...
              </div>
            </form>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
