
<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/ArtistaLogo.jpg" alt="ARTISTA Logo">
      </div>
      <div class="col-md-6 mt-5">
        <div class="card">
          <div class="card-body">
            <div class="sign-in-container">
              <form class="row g-3" (submit)="createAccount()">
                <p>Step 2 of 2</p>
                <br><br><br><br><br>
                <div class="col-md-6">
                  <label for="firstName" class="form-label">First Name</label>
                  <input type="text" id="firstName" [(ngModel)]="firstName" name="firstName" class="form-control">
                </div>
                <div class="col-md-6">
                  <label for="lastName" class="form-label">Last Name</label>
                  <input type="text" id="lastName" [(ngModel)]="lastName" name="lastName" class="form-control">
                </div>
                <div class="col-12">
                  <label for="dob" class="form-label">Date of Birth</label>
                  <input type="date" id="dob" [(ngModel)]="dob" name="dob" class="form-control">
                </div>
                <div class="col-12">
                  <label for="location" class="form-label">Location</label>
                  <input type="text" id="location" [(ngModel)]="location" name="location" class="form-control">
                </div>
                <p>By clicking create account... <a href="">Terms of use</a> & <a href="">privacy policy</a></p>
                <br><br><br><br><br>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Create Account</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
