<app-navbar></app-navbar>

<div class="header__wrapper">
  <img src="{{CustomerData.banner_img_url}}"alt="Banner Image" style="width: 100%; height:200px;">
  <header></header>
  <div class="cols__container">
    <div class="left__col">
      <div class="img__container">
        <img src="{{CustomerData.profile_photo_url}}" alt="Anna Smith" />
        <span></span>
      </div>
      <h2>{{CustomerData.name}}</h2>
      <p><b>{{CustomerData.location}}</b></p>
      <p><b>Member Since : </b>{{CustomerData.joined_date | date:'yyyy-mm-dd'}}</p>

      <ul class="about">
        <li>{{CustomerData.total_gallery_items}}<span></span>Gallery</li>
        <li>{{CustomerData.total_following_count}}<span></span>Following</li>
        <li>{{CustomerData.total_purchases}}<span></span>Purchases</li>
      </ul>

      <div class="content">
        <p>
          {{CustomerData.description}}
        </p>
        <br />
        <br />
        <div class="row" style="margin: 0">
          <div class="d-flex" style="justify-content: space-between">
            <a routerLink="/edit-customer-profile" class="btn btn-primary" style="width: 48%">Edit Profile</a>
            <button type="button" class="btn btn-secondary" style="width: 48%">
              Delete Profile
            </button>
          </div>
          <div class="row" style="margin: 10px 0 0 0">
            <button type="button" class="btn btn-success">Log Out</button>
          </div>
        </div>

      </div>
    </div>
    <div class="right__col">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab">Gallery</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="tab" href="#profile" aria-selected="false" role="tab"
            tabindex="-1">Following</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="tab" href="#history" aria-selected="false" tabindex="-1"
            role="tab">Purchase History</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="home" role="tabpanel">
          <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <form class="d-flex" role="search" style="width: 100%">
                <input class="form-control me-2 rounded-pill border border-primary" type="search" placeholder="Search"
                  aria-label="Search" />
                <button class="btn btn-outline-success" type="submit">
                  Search
                </button>

              </form>
            </div>
          </nav>
          <div class="Gallery">
            <div class="col mb-3" *ngFor="let art of galleryArtData">
              <app-arts [art]="art"></app-arts>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel">
          <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <form class="d-flex" role="search" style="width: 100%">
                <input class="form-control me-2 rounded-pill border border-primary" type="search" placeholder="Search"
                  aria-label="Search" />
                <button class="btn btn-outline-success" type="submit">
                  Search
                </button>
              </form>
              <app-following-artists></app-following-artists>
            </div>
          </nav>
        </div>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade" id="history" role="tabpanel">
            <nav class="navbar bg-body-tertiary">
              <div class="container-fluid">
                <form class="d-flex" role="search" style="width: 100%">
                  <input class="form-control me-2 rounded-pill border border-primary" type="search" placeholder="Search"
                    aria-label="Search" />
                  <button class="btn btn-outline-success" type="submit">
                    Search
                  </button>
                </form>
                <app-purchase-img-card></app-purchase-img-card>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
