<app-navbar></app-navbar>

<div class="header__wrapper">
  <div class="banner-container">
    <img src="{{CustomerData.banner_img_url}}" alt="Banner Image" style="width: 100%; height: 200px;">

  </div>
 <header></header>
  <div class="cols__container">
    <div class="left__col">
      <div class="img__container">
        <img src="{{CustomerData.profile_photo_url}}" alt="profile photo" />
        <span></span>
      </div>
      <h2>{{CustomerData.fName}} {{CustomerData.LName}}</h2>
      <p><b>{{CustomerData.location}}</b></p>
      <p><b>Member Since : </b>{{CustomerData.joined_date | date:'yyyy-MM-dd'}}</p>
      <br>

      <a [routerLink]="['/edit-customer-profile',userId]"  class="edit-profile-btn">
        <i class="bi bi-pencil"></i>
        Edit Your Profile
    </a>

      <ul class="about">
        <li>{{CustomerData.total_gallery_items}}<span></span>Gallery</li>
        <li>{{CustomerData.total_following_count}}<span></span>Following</li>
        <li>{{CustomerData.total_purchases}}<span></span>Purchases</li>
      </ul>
     <div class="content" style="margin: 50px 0 0 0">
      <p style="max-height: 420px; overflow-y: scroll;">
          {{CustomerData.description}}</p>
          <br>

        <button class="delete-btn" (click)="deactivateCustomer()">
          <i class="bi bi-trash"></i>
          Delete Profile
      </button>
      <button class="logout-btn" (click)="logout()">
        <i class="bi bi-box-arrow-right"></i>
        Logout
    </button>

      </div>
    </div>
    <div class="right__col">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab">Gallery</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="tab" href="#profile" aria-selected="false" role="tab" tabindex="-1">Following</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="tab" href="#history" aria-selected="false" tabindex="-1" role="tab">Purchase History</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="home" role="tabpanel">
          <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <form class="d-flex" role="search" style="width: 100%">
                <input #searchkeyword (keyup)="searchByKeyword(searchkeyword.value)" class="form-control me-2 rounded-pill border border-primary" type="search" placeholder="Search" aria-label="Search" />
              </form>
            </div>
          </nav>
          <div class="Gallery" style="max-height: 800px; overflow-y: scroll; overflow-x: hidden;">
            <div class="col mb-3" *ngFor="let art of filteredArts">
              <app-art-card [art]="art" [showRemoveButton]="true" [customerUserId]="userId" (removeGalleryItem)="onItemRemoved(art.artwork_id)"></app-art-card>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" style="width: 100%;">
          <nav class="navbar bg-body-tertiary" style="max-height: 800px; overflow-y: scroll; overflow-x: hidden;">
            <div class="container-fluid" style="width: 100%;">
              <form class="d-flex" role="search" style="width: 100%">
                <input #searchkeyword (keyup)="searchByKeyword(searchkeyword.value)" class="form-control me-2 rounded-pill border border-primary" type="search" placeholder="Search" aria-label="Search" />
              </form>
              <app-following-artists></app-following-artists>
            </div>
          </nav>
        </div>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade" id="history" role="tabpanel">
            <nav class="navbar bg-body-tertiary" style="max-height: 800px; overflow-y: scroll; overflow-x: hidden;">
              <div class="container-fluid">
                <app-purchase-img-card ></app-purchase-img-card>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

