<div class= "card artist-card shadow zoom-in-out-on-hover">
    
    <img [src]="artist.banner_image_url" class="card-img-top" alt="Banner Image">
   

<div class="card-body">
    
    <div class="profile-pic">
         <img [src]="artist.profile_photo_url" class="profile-picture rounded-circle shadow" alt="Profile Picture">
    </div>
    <div class="artist-detail">
         <p class="card-title "><strong>{{artist.fName+" "+artist.LName}}</strong></p>
         <p class="job-title ">{{artist.profession}}</p>  
         <div class="row location-style">
           <div class="col-auto">
             <i class="bi bi-geo-alt-fill"></i>
           </div>
           <div class="col">
             <p class="location">{{artist.location}}</p>
           </div>
         </div>
         <div class="row like-creation">
           <div class="col-auto">
             <i class="bi bi-star-fill"></i>
           </div>
             <div class="col">
             <p class="like-count"><Strong>{{artist.rating[0].rating_value}}</Strong></p>
           </div>
           <div class="col">
             <p class="creation text-right"><strong>Creation: {{ (artist.total_creations[0]['COUNT(artwork_id)'])}}</strong></p>
           </div>
           <button type="button" class="btn btn-primary mx-auto" (click)="messageArtist(artist.firebase_uid, artist.artist_name)">Message</button>
         </div>
    </div>
    

</div>

