<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <!-- Artista Logo -->
    <img src="../assets/imgs/logoArt.png" alt="Artista Logo" class="custom-logo img-fluid" />

    <!-- Toggle key -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- ForYou and Artist Buttons -->
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">

        <li class="nav-item">

        </li>
      </ul>



      <!-- Icon Section -->
      <div class="d-flex">



        <a class="navbar-text me-3 " (click)="toggleNotiFi()">
          <i class="bi bi-bell-fill"></i>
          <span>{{ countUnreadMessages() }}</span>

        </a>

        <div id="box" class="notifi-box"> <!-- notification box -->
          <h2>Notifications <span>{{ countUnreadMessages() }}</span></h2>

          <div class="noti-item" *ngFor="let notification of notifications">
            <img [src]="notification.profilePic" alt="Profile Picture">
            <div class="text">
              <h4>{{ notification.message }}</h4>
              <p>{{ notification.time }}</p>
            </div>
          </div>

          <div class="notification-footer">
            <button class="btn btn-sm btn-secondary" (click)="markAllAsRead()">Mark All as Read</button>
            <button class="btn btn-sm btn-danger" (click)="clearAllNotifications()">Clear All Notifications</button>
          </div>
        </div>


        <a class="navbar-text me-3"  (click)="messageArtist(artist.firebase_uid, artist.artist_name)">
          <i class="bi bi-chat-dots-fill"></i>
        </a>



        <a href="#" class="navbar-text">
          <i class="bi bi-person-circle"></i>
        </a>
      </div>
    </div>
  </div>
</nav>
