<div class="container">
  <div class="image">

    <img src="{{ art.artwork_image_url }}" alt="Artwork Image" />
    <div class="details">
          <h2>{{ art.artwork_name }}</h2>
          <p>{{ art.artist_name }}</p>
            <!-- Conditionally show the remove button in the top right corner -->
    <button *ngIf="showRemoveButton" class="btn btn-danger remove-btn" (click)="removeFromGallery()">
      Remove
    </button>
      </div>
      <div class="more">
        <p class="price">{{ art.artwork_price | currency:'USD':'symbol':'1.2-2' }}</p>
        <p class="like-count"><i class="bi bi-heart-fill"></i>{{ formatLikeCount(art.total_likes) }} </p>
        <button class="btn cart-icon-btn" (click)="addCart(art)"> <i class="bi bi-cart-plus-fill"></i>
        </button>
      </div>
    </div>
  </div>
