 <app-navbar></app-navbar>
<div class="header__wrapper">
  <img src="{{ artistData.banner_img_url }}" alt="Banner Image" class="container-fluid" style="height: 200px; padding: 0%;" />

  <div class="cols__container container">
    <div class="row">
      <div class="left__col col-md-3">
        <div class="img__container mx-auto">
          <img src="{{ artistData.profile_photo_url }}" alt="Artist Photo" class="img-fluid" />
        </div>

        <div class="d-flex justify-content-between mt-5 mx-auto" style="width: 300px; margin-top: 10px;">
          <div class="follow-button">
            <button
              [ngClass]="['btn', 'btn-outline-info', followButtonClass, 'rounded']"
              type="button"
              (click)="toggleFollow()"
              style="width: 140px; height: 50px;"
            >
              {{ followButtonText }}
            </button>
          </div>
          <button type="button" class="btn btn-secondary" style="width: 140px; height: 50px;" (click)="messageArtist(artistData.firebase_uid, artistData.artist_name); $event.stopPropagation()">Message</button>
        </div>
        <ul class="about">
          <li><span>{{ artistData.total_likes }}</span>Likes</li>
          <li style="margin-left: 30px;"><span>{{ artistData.total_followers }}</span>Followers</li>
          <li><span>{{ artistData.total_creations }}</span>Creations</li>
        </ul>

        <div class="content">
          <p>{{ artistData.description }}</p>
        </div>
        <h3 class="ratingtext" style="font-size: 24px; font-weight: 600;">How was the experience?</h3>
        <form [formGroup]="ratingForm" (ngSubmit)="onSubmitRating()">
          <div class="rating-section">
            <span class="fa fa-star" (click)="onStarClick(1)" [ngClass]="{'checked': rating >= 1}"></span>
            <span class="fa fa-star" (click)="onStarClick(2)" [ngClass]="{'checked': rating >= 2}"></span>
            <span class="fa fa-star" (click)="onStarClick(3)" [ngClass]="{'checked': rating >= 3}"></span>
            <span class="fa fa-star" (click)="onStarClick(4)" [ngClass]="{'checked': rating >= 4}"></span>
            <span class="fa fa-star" (click)="onStarClick(5)" [ngClass]="{'checked': rating >= 5}"></span>
          </div>
          <div class="form-group my-3">
            <input
              type="number"
              formControlName="rating"
              min="1"
              max="5"
              placeholder="Enter rating (1-5)"
              class="form-control"
            />
          </div>
          <button type="submit" class="btn btn-success" style="background-color: #0F969C;" [disabled]="ratingForm.invalid">Submit Rating</button>
        </form>
        <div class="feedback-section mt-4">
          <form [formGroup]="feedbackForm" (ngSubmit)="onSubmitFeedback()">
            <div class="form-group my-3">
              <h2 class="feedtext" style="font-size: 24px; font-weight: 600;">Submit your feedback</h2>
              <textarea
                class="form-control"
                id="feedback"
                formControlName="feedback"
                rows="5"
                maxlength="200"
              ></textarea>
              <small id="wordCount" class="text-muted">0 words (Max 100 words)</small>
            </div>
            <button type="submit" class="btn btn-success" style="background-color: #0F969C; margin-bottom: 10px;" [disabled]="feedbackForm.invalid">Submit Feedback</button>
          </form>
        </div>
      </div>

      <div class="right__col col-md-8">
        <div class="artist-info d-flex align-items-center" style="margin-top: 20px;" >
          <h2 class="artist-name m-0">{{ artistData.fName }} {{ artistData.LName }}</h2>

          <div class="datebtn d-flex align-items-center ml-auto" style="border-radius: 10px; font-size: 14px;">
            <i class="bi bi-calendar-check" style="font-size: 20px; margin-right: 10px;"></i>
            <b>Member Since: </b> {{ artistData.joined_date | date: "yyyy-MM-dd" }}
          </div>
        </div>
        <div class="loc-prof-rate" style="margin-top: 5px;">
          <p class="artist-location-profession-rating font-weight-light mt-2 text-primary d-inline-flex align-items-center">
            <i class="bi bi-geo-alt-fill" style="font-size: 20px; margin-right: 5px;"></i> {{ artistData.artist_location }}
            <span class="artist-profession-rating ml-4 d-inline-flex align-items-center" style="color: rgb(132, 132, 132);">
              <i class="bi bi-person-fill mr-2" style="font-size: 20px;"></i>{{ artistData.artist_profession }}
              <span class="ml-4 d-inline-flex align-items-center text-info">
                <b>Rating :</b> {{ artistData.average_rating | number: '1.1-1'}}
                <i class="bi bi-star-fill ml-1" style="font-size: 20px;"></i>
              </span>
            </span>
          </p>
        </div>


        <div class="social-media-links my-3" style="margin-top: 5px;">
          <ul class="d-flex list-unstyled">
            <li *ngFor="let link of socialMediaLinks" class="mr-3">
              <a [href]="link.account_url" target="_blank">
                <img [src]="link.logo_url" alt="{{ link.platform_name }}" style="width: 25px;" />
              </a>
            </li>
          </ul>
        </div>

        <ul class="nav nav-tabs mt-4" role="tablist">
          <li class="nav-item" style="width:50%; text-align: center;
          font-weight: 600;
          font-size: larger;">
            <a class="nav-link active" data-bs-toggle="tab" href="#home" role="tab">Creations</a>
          </li>
          <li class="nav-item"style="width:50%; text-align: center;
          font-weight: 600;
          font-size: larger;">
            <a class="nav-link" data-bs-toggle="tab" href="#profile" role="tab">Feedbacks</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="home" role="tabpanel">
            <nav class="navbar bg-body-tertiary">
              <div class="container-fluid">
                <form class="d-flex w-100" role="search">
                  <input
                    #searchkeyword
                    (keyup)="searchByKeyword(searchkeyword.value)"
                    class="form-control me-2 rounded-pill border border-primary"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                  />
                </form>
              </div>
            </nav>
            <div class="Creations" style="max-height: 800px; overflow-y: scroll; overflow-x: hidden;">
              <div class="row">
                <div class="col-md-4 mb-4" *ngFor="let art of filteredArts" >
                  <app-art-card [art]="art"></app-art-card>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade feedbacks" id="profile" role="tabpanel" style="max-height: 800px; overflow-y: scroll; overflow-x: hidden;">
            <app-feedback-list-card [artistId]="artistId"></app-feedback-list-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
