<app-navbar></app-navbar>
<div class="header__wrapper">
  <img src="{{ artistData.banner_img_url }}" alt="Banner Image" style="width: 100%; height: 200px" />

  <div class="cols__container">
    <div class="left__col">
      <div class="img__container">
        <img src="{{ artistData.profile_photo_url }}" alt="Artist Photo" />
      </div>
      <h2>{{ artistData.artist_name }}</h2>
      <p><b>{{ artistData.artist_location }}</b></p>
      <p><b>Member Since: </b>{{ artistData.joined_date | date: "yyyy-MM-dd" }}</p>
      <br />
      <div class="row" style="margin: 0">
        <div class="d-flex" style="justify-content: space-between">
          <div class="follow-button">
            <button
              [ngClass]="['btn', 'btn-outline-info', followButtonClass, 'rounded']"
              type="button"
              (click)="toggleFollow()"
              style="width: 150px; height: 50px;"
            >
              {{ followButtonText }}
            </button>
          </div>
          <button type="button" class="btn btn-secondary" style="width: 48%">Message</button>
        </div>
        <ul class="about">
          <li><span>{{ artistData.total_likes }}</span>Likes</li>
          <li><span>{{ artistData.total_followers }}</span>Followers</li>
          <li><span>{{ artistData.total_creations }}</span>Creations</li>
        </ul>
        <div class="content">
          <p>{{ artistData.description }}</p>
        </div>
        <br />
        <div class="rating-order-wrp">
          <h2>How was the experience?</h2>
          <div class="d-flex rating-list align-items-center">
            <p class="w-50">Star Your Rating:</p>
            <div class="star w-50 rating-star">
              <ngx-star-rating formControlName="rating"></ngx-star-rating>
            </div>
          </div>
          <form [formGroup]="ratingForm" (ngSubmit)="onSubmitRating()">
            <div class="form-group" style="margin: 20px 0">
              <input
                type="number"
                formControlName="rating"
                min="1"
                max="5"
                placeholder="Enter rating (1-5)"
                class="form-control"
              />
            </div>
            <button type="submit" class="btn btn-success" [disabled]="ratingForm.invalid">Submit Rating</button>
          </form>
        </div>
        <div class="feedback-section">
          <form [formGroup]="feedbackForm" (ngSubmit)="onSubmitFeedback()">
            <div class="form-group" style="margin: 20px 0">
              <h2>Submit your feedback</h2>
              <textarea
                class="form-control"
                id="feedback"
                formControlName="feedback"
                rows="5"
                maxlength="100"
              ></textarea>
              <small id="wordCount" class="text-muted">0 words (Max 100 words)</small>
            </div>
            <br />
            <button type="submit" class="btn btn-success" [disabled]="feedbackForm.invalid">Submit Feedback</button>
          </form>
        </div>
      </div>
    </div>
    <div class="right__col">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab">Creations</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="tab" href="#profile" aria-selected="false" role="tab" tabindex="-1">Feedbacks</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="home" role="tabpanel">
          <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <form class="d-flex" role="search" style="width: 100%">
                <input
                  #searchkeyword
                  (keyup)="searchByKeyword(searchkeyword.value)"
                  class="form-control me-2 rounded-pill border border-primary"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
              </form>
            </div>
          </nav>
          <div class="Creations" style="max-height: 1000px; overflow-y: scroll; overflow-x: hidden;">
            <div class="col mb-3" *ngFor="let art of filteredArts">
              <app-art-card [art]="art"></app-art-card>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" style="max-height: 1000px; overflow-y: scroll; overflow-x: hidden;">
          <app-feedback-list-card></app-feedback-list-card>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
