<div class="container">
  <div class="image">

    <img src="{{ artworks.thumbnail_url }}" alt="Artwork Image" />
    <div class="details">
          <!-- <h2>name</h2> -->
          <p>{{ artworks.title }}</p>
            <!-- Conditionally show the remove button in the top right corner -->
    <button class="btn btn-danger remove-btn" >
      Remove
    </button>
      </div>
      <div class="more">

<!--
        <p class="price">{{ artworks.price | currency:'USD':'symbol':'1.2-2' }}</p>
        <p class="like-count"><i class="bi bi-heart-fill"></i>like </p>
        <button class="btn cart-icon-btn" > <i class="bi bi-cart-plus-fill"></i>
        </button> -->
        <div class="card-body card-content d-flex flex-column align-items-center">
          <div class="card-details d-flex justify-content-between w-100">
            <div class="price">{{artworks.price | currency}}</div>
            <div class="title">{{artworks.title}}</div>
          </div>
          <div class="card-stats d-flex justify-content-between w-100 mt-2">
            <div class="purchase-count">{{artworks.purchaseCount}} Purchases</div>
            <div class="like-count">{{artworks.likeCount}} Likes</div>
          </div>
          <div class="card-actions mt-3 w-100 d-flex justify-content-end">
            <button type="button" class="btn btn-danger btn-sm" (click)="deleteArtwork(artworks.id)">
              Delete
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>




