<div class="sticky-bar" [ngClass]="{'show': showStickyBar}" style="background-color: rgb(241, 241, 241); border: 0.5px solid rgb(207, 207, 207);">
    <div class="d-sm-flex justify-content-between align-items-center">

            <div class="bar-header" style="margin-left: 20px;">
                <h3 class="title fs-4 fw-bolder fst-italic" style="padding-left: 0;">{{artworkDetails.artwork_name}}</h3>
                <p>by {{artworkDetails.artist}}</p>
            </div>

        <div class="d-flex align-items-center gap-3" style="justify-content: center;">
            <div class="price">
                <p class="fs-3 fw-medium">{{artworkDetails.price | currency}}</p>
            </div>
            <div>
                <button (click)="toggleFavorite()" class="favorite-button">
                    <i class="bi fs-5" style="color: blue;" aria-hidden="false" aria-label="Favorite icon"
                        [class.bi-heart-fill]="isFavorite" [class.bi-heart]="!isFavorite"></i>
                </button>
            </div>
            <div>
                <button [ngClass]="['btn', 'btn-outline-info', addToGalleryButtonClass]" type="button"
                    (click)="toggleAddToGallery()">{{addToGalleryButtonText}}</button>
            </div>
            <div>
                <button class="btn" style="background:#0D6EFD; color: white; font-weight: 600;" type="button" (click)="addCart(artworkDetails)"><span class="">Add To Cart</span></button>
            </div>
        </div>
    </div>
</div>
<app-navbar></app-navbar>
<section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="preview-container">
                        <div class="artwork">
                            <div *ngIf="!is3D">
                               <img [src]="imageUrl" alt="Artwork" class="artwork-preview">
                             </div>
                             <div *ngIf="is3D">
                               <app-model [objectUrl]="imageUrl"></app-model>
                             </div>
                       </div>
                    </div>
                    <div class="likeCount-pubDate">
                        <div class="like">
                            <button (click)="toggleFavorite()" class="favorite-button">
                                <i class="bi fs-5" style="color: blue;" aria-hidden="false"
                                    aria-label="Favorite icon" [class.bi-heart-fill]="isFavorite"
                                    [class.bi-heart]="!isFavorite"></i>
                            </button>
                            <p class="count">{{artworkDetails.total_likes}}</p>
                        </div>
                        <div class="pub-date">
                            <p class="pub-date-style">Published On: {{ artworkDetails.published_date | date }}</p>
                        </div>
                    </div>
                    <div class="artwork-details">
                        <h5 class="header-art">
                            Artwork description:
                            <button *ngIf="isSmallScreen" type="button" class="btn btn-link" (click)="toggleCollapse('description')">
                                <i class="bi" [ngClass]="{'bi-caret-down-square-fill': !isDescriptionCollapsed, 'bi-caret-up-square-fill': isDescriptionCollapsed}"></i>
                            </button>
                        </h5>
                        <div class="collapsible" [class.expanded]="isDescriptionCollapsed || !isSmallScreen">
                            <p class="body1" style="text-align: justify;">
                                {{artworkDetails.description}}
                            </p>
                        </div>

                        <h5 class="header-art">
                            Tags:
                            <button *ngIf="isSmallScreen" type="button" class="btn btn-link" (click)="toggleCollapse('tags')">
                                <i class="bi" [ngClass]="{'bi-caret-down-square-fill': !isTagsCollapsed, 'bi-caret-up-square-fill': isTagsCollapsed}"></i>
                            </button>
                        </h5>
                        <div class="collapsible" [class.expanded]="isTagsCollapsed || !isSmallScreen">
                            <div class="d-flex flex-wrap">
                                <span *ngFor="let tag of tagsArray" class="badge fs-6 me-2 mb-2 text-dark fw-medium" style="background-color: #c0ccff;">#{{ tag }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="tab-content">
                        <h1 class="header-art header-margin">
                            {{artworkDetails.artwork_name}}
                        </h1>
                        <h2 class="body1">
                            {{artworkDetails.category}}&nbsp;
                            <br>
                            <span>by</span>&nbsp;
                            {{artworkDetails.artist}}
                        </h2>
                        &nbsp;
                        <p class="body1">
                            <span class="header-art">{{artworkDetails.price | currency}}</span>
                        </p>
                        <table class="body1">
                            <tbody>
                                <tr>
                                    <th>Tools:</th>
                                </tr>
                                <tr>
                                    <td>{{artworkDetails.tools}}</td>
                                </tr>
                                <tr>
                                    <th>File Formats:</th>
                                </tr>
                                <tr>
                                    <td>{{artworkDetails.formats}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-grid gap-3 artwork-details-content-pricing-buttons">
                            <div class="d-grid gap-2">
                                <button [ngClass]="['btn', addToGalleryButtonClass]" type="button"
                                    (click)="toggleAddToGallery()"><span class="">{{addToGalleryButtonText}}</span></button>
                                <button  *ngIf="artistRole==='artist'" class="btn" style="background:#0D6EFD; color: white; font-weight: 600;" type="button" (click)="addCart(artworkDetails)"><span class="">Add To Cart</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<section class="artist-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="artist-menu">
                    <div class="avatar-container">
                        <a class="artist-page-link"><img [src]="artworkDetails.artist_profile_photo" class="artist-avatar rounded-circle" alt="visit artist profile">
                        </a>
                    </div>
                    <div>
                        <a class="artist-page-link">
                            <h2 class="header-section">
                                {{artworkDetails.artist}}
                            </h2>
                        </a>
                        <div class="artist-summary">
                            <div class="ratings">
                                <i class="bi bi-star-fill fs-5" style="color: blue; "></i>&nbsp;
                                <p class="count" style="margin-bottom: 0;">{{artworkDetails.avg_rating |
                                    number: '1.0-0'}}</p>
                            </div>
                            <div class="ratings">
                                <i class="bi bi-palette-fill fs-5" style="color: blue; "></i>&nbsp;
                                <p class="count" style="margin-bottom: 0;">{{artworkDetails.total_creations |
                                    number: '1.0-0'}}</p>
                            </div>
                            <div class="ratings">
                                <i class="bi bi-people-fill fs-5" style="color: blue; "></i>&nbsp;
                                <p class="count" style="margin-bottom: 0;">{{artworkDetails.followers_count |
                                    number: '1.0-0'}}</p>
                            </div>
                        </div>
                        <div class="button-group">
                            <button [ngClass]="['btn', followButtonClass,'rounded']"
                            type="button" (click)="toggleFollow()">{{followButtonText}}</button>
                            <button class="btn message-btn" type="button">Message</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="artist-introduction col-lg-7">
                <p class="body1" style="text-align: justify;">
                    <i class="bi bi-geo-alt-fill fs-5" style="color: blue;"></i>&nbsp;{{artworkDetails.location}} <br><br>
                    <strong>About artist</strong><br>
                    {{artworkDetails.artist_description}}
                </p>
            </div>
        </div>

        <!--carousal-->
        <div class="carousel-container">
            <div class="carousel">
              <div class="card2 shadow" *ngFor="let artwork of bestArtworks" (click)="viewArtwork(artwork.artwork_id)">
                <div class="badge1 editor-choice">Artist's Best</div>
                <img [src]="artwork.thumbnail_url" alt="Artwork" class="banner">
                <section class="title">
                  <p>{{artwork.title}}</p>
                </section>
              </div>
            </div>
            <button class="carousel-control prev" (click)="prev()">&#10094;</button>
            <button class="carousel-control next" (click)="next()">&#10095;</button>
          </div>


        <div class="row mt-4 d-flex justify-content-center">
            <button class="btn btn-primary" style="width: 100px;">View All</button>
        </div>
    </div>
</section>
<section class="comments">
    <div class="col-12">
        <div class="container mt-5">
            <div class="row">
                <hr>
                <div class="row">
                    <div class="col d-flex justify-content-center gap-3">
                        <i class="bi bi-chat-square-text-fill fs-4"></i>
                        <p class="pub-date-style">Comments  :</p>
                        <p class="pub-date-style">{{TotalComments}}</p>
                    </div>
                </div>
                <hr>
            </div>
            <div class="row border comment-area">
                <app-comment-list [currentUserId]="userId" [artworkId]="artworkId" (commentsCount)="oncommentsCount($event)"></app-comment-list>
            </div>
        </div>
    </div>

</section>
<section class="related-artworks">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="header-section">Related Artworks</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="gallery">
            <div class="column" *ngFor="let column of columns">
              <div class="gallery-item" *ngFor="let image of column" (click)="viewArtwork(image.artwork_id)">
                <img [src]="image.thumbnail_url" alt={{image.title}}>
                <section class="title">
                    <p>{{image.title}}</p>
                </section>
              </div>
            </div>
        </div>
    </div>
</section>


<app-footer></app-footer>
