<div class="container">
  <div class= "card artist-card shadow zoom-in-out-on-hover ">
    <div class="card-body">

      <div class="profile-pic">
        <img [src]="artist.thumbnail_url" class="profile-picture rounded-circle shadow" alt="Profile Picture">
      </div>
      <div class="artist-detail">
        <p class="card-title "><strong>{{artist.artist_name}}</strong></p>
        <p class="job-title ">{{artist.artwork_title}}</p>
        <div class="row location-style">
          <div class="col-auto">
            <i class="bi bi-geo-alt-fill"></i>
          </div>
          
        </div>
        <div class="row like-creation">
          <div class="col-auto">
            <i class="bi bi-star-fill"></i>
          </div>
          <div class="col">
            <p class="like-count"><Strong>{{formatLikeCount(artist.total_likes)}}</Strong></p>
          </div>
          
          <button type="button" class="btn btn-primary mx-auto">Message</button>
        </div>
      </div>
    </div>

  </div>

