


body{
  background-color:#545454;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
 }

 .container{
  height: 40vh;
  margin-bottom: -5px;
  margin-top: 140px;
 }

 .card{

  width: 380px;
  border: none;
  border-radius: 15px;
  padding: 8px;
  background-color: #ffffff;
  position: relative;
  height: 370px;
  border: 1px  #545454;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  margin-bottom: 150px;
 }

 .card:hover {
  transform: scale(1.05); /* Scale up on hover */
  box-shadow: 0 8px 16px rgba(4, 87, 255, 0.3); /* Add shadow on hover */
}

 .upper{

  height: 100px;

 }

 .upper img{

  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

 }

 .user{
  position: relative;
 }

 .profile img{

  
  height: 80px;
  width: 80px;
  margin-top:2px;
  object-fit: cover;
  object-position: center;
 
 }

 .profile{

  position: absolute;
  top:-50px;
  left: 38%;
  height: 90px;
  width: 90px;
  border:3px solid #fff;

  border-radius: 50%;

 }

 .location {
  margin-bottom: 2px; /* Reduce bottom margin */
}

.profession {
  margin-top: -15px; /* Reduce top margin */
}


 .follow{

  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  height: 35px;
 }

 .stats span{

  font-size: 20px;
 }