<app-navbar></app-navbar>
<section class="head-title-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center mt-5">
        <h3 class="text-color">Embark on a journey to discover the perfect artist just for you!</h3>
      </div>
    </div>
    
   <div class="row">
  <div class="col-md-12 text-center mt-3">
    <div class="input-group">
      <div class="position-relative w-100">
        <input id="search-input" type="search" class="form-control custom-search" placeholder="Search for Artists" aria-label="Search for Artists"
               [(ngModel)]="searchKeyword" (input)="onSearch()">
        
      </div>
    </div>
  </div>
</div>

     <br>
    <div class="row column d-flex center">
     
      <div class="col-md-3 filter">
        <label for="profession-select">Filter by Profession:</label>
        <select id="profession-select" class="form-control" [(ngModel)]="selectedProfession" (change)="onFilterByProfession()">
            <option value="">All Professions</option>
            <option value="Illustrator">Illustrator</option>
            <option value="Graphic Designer">Graphic Designer</option>
            <option value="Animator">Animator</option>
            <option value="Digital Painter">Digital Painter</option>
            <option value="3D Modeler">3D Modeler</option>
            <option value="Concept Artist">Concept Artist</option>
            <option value="Comic Artist">Comic Artist</option>
            <option value="Game Artist">Game Artist</option>
            <option value="UI/UX Designer">UI/UX Designer</option>
            <option value="VFX Artist">VFX Artist</option>
        </select>
    </div>
    <div class="col-md-3 filter">
      <label for="location-select">Filter by Location:</label>
      <select id="location-select" class="form-control" [(ngModel)]="selectedLocation" (change)="onFilterByLocation()">
          <option value="">All Locations</option>
          <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
      </select>
  </div>
  <div class="col-md-3 filter">
    <label for="featured-select">Filter by Featured:</label>
    <select id="featured-select" class="form-control" [(ngModel)]="selectedFeatured" (change)="onFilterByFeatured()" >
      <option value="null">All Artists</option>
      <option value="1">Featured</option>
      <option value="0">Non-Featured</option>
    </select>
  </div>
  
      <div class="col-md-3 filter">
        <label for="sort-select">Sort by:</label>
        <select id="sort-select" class="form-control" [(ngModel)]="sortBy" (change)="onSortBy()" >
          <option value="">None</option>
          <option value="rating">Rating</option>
          <option value="total_creations">Total Creations</option>
          <option value="follower_count">Followers</option>
        </select>
      </div>
      
    </div>

    <div class="container mt-5 mb-3">
      <div class="row g-2" (window:scroll)="onScroll()">
        <div class="col-12 col-md-4 mb-3" *ngFor="let artist of artistsData">
          <app-artists [artist]="artist"></app-artists>
        </div>
      </div>
    </div>
    
  </div>
</section>
<app-footer></app-footer>