/* Add any additional styles for your footer here */

.footer {
    padding: 20px 0; /* Adjust padding as needed */
    margin-top: 20px;
    background-color: #1184c2;
    position:sticky ;
    width: 100%;
    height: fit-content;
}

.footer-logo {
    max-width: 15vw; /* Adjust the max-width of the logo */
    max-height: 10vh;
}

/* Adjust margin for all buttons */
.btn-footer {
    margin-right: 1vh; /* Reduce the right margin between buttons */
}

/* Style for the five buttons */
.btn-footer {
   
    padding: 8px 50px;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

/* Dark blue background on hover for buttons */
.btn-footer:hover {
    background-color: #001f3f; /* Dark blue color */
    color: #fff; /* White text color on hover */
}

/* Social media icons */
.bi {
    font-size: 2vh; /* Adjust the size of the icons */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow to the icons */
}

/* Gray color on hover for social media icons */
.btn-link:hover .bi {
    color: #999; /* Gray color on hover */
}

/* Responsive styles for the row */
@media (max-width: 991.98px) {
    .align-items-center {
        flex-direction: column; /* Stack items vertically on medium-sized screens and below */
        align-items: center; /* Align items to the center on medium-sized screens and below */
    }

    .footer-buttons {
        margin-top: 20px; /* Add spacing between the logo and buttons on medium-sized screens and below */
    }
}

