<form [formGroup]="form" (ngSubmit)="onSubmit()" class="comment-form">
  <div class="row">
    <textarea class="form-control comment-area" formControlName="title" placeholder="Join The Discussion..."></textarea>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-end m-0 p-0 gap-3">
      <button class="btn write-btn" type="submit" [disabled]="form.invalid">
        {{ submitLabel }}
      </button>
      <button
        *ngIf="hasCancelButton"
        type="button"
        class="btn write-btn"
        (click)="handleCancel.emit()"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
