<div class="card request-card" style="width: 720px;" >
  <div class="d-flex" style="height: 100%;">
      <div class="profile-pic">
          <img src="../assets/imgs/art.jpg" alt="Artwork" style="width: 180px; height: 180px;">
      </div>
      <div class="card-body">
          <div class="d-flex" style="justify-content: space-between;">
              <div class="d-flex">
                  <span style="font-size: large;"> Digital Eden  |</span>&nbsp;
                  <span class="fs-6 fw-medium mr-2 text-secondary">Peter Anderson  |</span>&nbsp;
                  <span class="fs-6 fw-medium text-info">Date: 21st March</span>
              </div>
          </div>
          <div style="margin: auto; text-align: left;">
              <a href="" class="fs-6">More Details</a>
          </div>
          <div class="buttons d-flex flex-column align-items-end mt-2">
            <button class="btn btn-success">Leave Comment</button>
            <button class="btn btn-danger">Remove</button>
          </div>

      </div>
        </div>
      </div>
      <div class="card request-card" style="width: 720px;" >
        <div class="d-flex" style="height: 100%;">
            <div class="profile-pic">
                <img src="../assets/imgs/art1.jpg" alt="Artwork" style="width: 180px; height: 180px;">
            </div>
            <div class="card-body">
                <div class="d-flex" style="justify-content: space-between;">
                    <div class="d-flex">
                        <span style="font-size: large;"> Galatic Groove |</span>&nbsp;
                        <span class="fs-6 fw-medium mr-2 text-secondary">Sophia Crusen  |</span>&nbsp;
                        <span class="fs-6 fw-medium text-info">Date: 25th January</span>
                    </div>
                </div>
                <div style="margin: auto; text-align: left;">
                    <a href="" class="fs-6">More Details</a>
                </div>
                <div class="buttons d-flex flex-column align-items-end mt-2">
                  <button class="btn btn-success">Leave Comment</button>
                  <button class="btn btn-danger">Remove</button>
                </div>

            </div>
              </div>
            </div>
            <div class="card request-card" style="width: 720px;" >
              <div class="d-flex" style="height: 100%;">
                  <div class="profile-pic">
                      <img src="../assets/imgs/art2.jpg" alt="Artwork" style="width: 180px; height: 180px;">
                  </div>
                  <div class="card-body">
                      <div class="d-flex" style="justify-content: space-between;">
                          <div class="d-flex">
                              <span style="font-size: large;"> Cosmic Dream |</span>&nbsp;
                              <span class="fs-6 fw-medium mr-2 text-secondary">Morien Dickson  |</span>&nbsp;
                              <span class="fs-6 fw-medium text-info">Date: 17th December</span>
                          </div>
                      </div>
                      <div style="margin: auto; text-align: left;">
                          <a href="" class="fs-6">More Details</a>
                      </div>
                      <div class="buttons d-flex flex-column align-items-end mt-2">
                        <button class="btn btn-success">Leave Comment</button>
                        <button class="btn btn-danger">Remove</button>
                      </div>

                  </div>
                    </div>
                  </div>
                  <div class="card request-card" style="width: 720px;" >
                    <div class="d-flex" style="height: 100%;">
                        <div class="profile-pic">
                            <img src="../assets/imgs/art3.jpg" alt="Artwork" style="width: 180px; height: 180px;">
                        </div>
                        <div class="card-body">
                            <div class="d-flex" style="justify-content: space-between;">
                                <div class="d-flex">
                                    <span style="font-size: large;"> Neon Night |</span>&nbsp;
                                    <span class="fs-6 fw-medium mr-2 text-secondary">Zelina Parker |</span>&nbsp;
                                    <span class="fs-6 fw-medium text-info">Date:3rd October</span>
                                </div>
                            </div>
                            <div style="margin: auto; text-align: left;">
                                <a href="" class="fs-6">More Details</a>
                            </div>
                            <div class="buttons d-flex flex-column align-items-end mt-2">
                              <button class="btn btn-success">Leave Comment</button>
                              <button class="btn btn-danger">Remove</button>
                            </div>

                        </div>
                          </div>
                        </div>
