
<div class="container p-0 " style="margin: 20px 0 0 0;">
  <div class="chat-container card">
    <div class="card-header bg-primary text-white text-center" style="width: 100%;">
      Chat with {{ userRole === 'artist' ? 'a Customer' : ' a Artist ' }}
    </div>

    <div class="row no-gutters">
      <!-- Sidebar for user selection -->
      <div *ngIf="userRole === 'artist'" class="col-md-3 user-sidebar">
        <div class="user-selection">
          <label for="selectCustomer">Select Customer</label>

          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search Customer" [(ngModel)]="searchTerm" (input)="filterUsers()">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="bi bi-search"></i>
              </span>
            </div>
          </div>
          <ul class="list-group">
            <li *ngFor="let customer of filteredUsers$ | async"
                (click)="onUserSelect(customer)"
                [class.active]="customer.firebaseUid === recipientId"
                class="list-group-item">
              {{ customer.name }}
              <span class="badge badge-pill badge-success" *ngIf="customer.unreadCount">{{ customer.unreadCount }}</span>
            </li>
          </ul>
        </div>
      </div>

      <div *ngIf="userRole === 'customer'" class="col-md-3 user-sidebar">
        <div class="user-selection">
          <label for="selectArtist">Select Artist</label>

          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search Artist" [(ngModel)]="searchTerm" (input)="filterUsers()">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="bi bi-search"></i>
              </span>
            </div>
          </div>
          <ul class="list-group">
            <li *ngFor="let artist of filteredUsers$ | async"
                (click)="onUserSelect(artist)"
                [class.active]="artist.firebaseUid === recipientId"
                class="list-group-item">
              {{ artist.name }}
              <span class="badge badge-pill badge-success" *ngIf="artist.unreadCount">{{ artist.unreadCount }}</span>
            </li>
          </ul>
        </div>
      </div>

      <!-- Chat messages area -->
      <div  class="d-flex flex-column col-md-9">
        <div class="messages-container flex-grow-1">
          <div class="messages overflow-auto">
            <div *ngFor="let message of messages$ | async" class="message"
                 [ngClass]="{ 'sent-message': message.senderId === senderId, 'received-message': message.senderId !== senderId }" (contextmenu)="onRightClick($event, message)">
              <div class="sender">{{ message.senderId === senderId ? 'You' : (userRole === 'artist' ? 'Customer' : 'Artist') }}:</div>
              <div class="content">{{ message.message }}</div>
              <div class="timestamp">{{ message.timestamp?.toDate() | date:'short' }}</div>
            </div>
          </div>
        </div>

        <!-- Context Menu for message deletion -->
        <div id="context-menu" class="context-menu" (click)="deleteSelectedMessage()">
          Delete 
        </div>

        <div class="card-footer input-container">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Type a message" [(ngModel)]="newMessage" (keydown.enter)="sendMessage()">
            <div class="input-group-append">
              <button class="btn btn-primary" (click)="sendMessage()">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
