
<div class="main">

  <div>
    <nav class="navbar navbar-expand-lg navbar-custom fixed-top" data-bs-theme="dark">
      <div class="container-fluid">
      
        <img src="../../../assets/artista logo.jpg" alt="Artista Logo" class="custom-logo img-fluid" />


       
    <form class="d-flex" (submit)="onSearchSubmit()">
      <div class="xx d-flex">
      <input class="form-control" type="search" placeholder="Search" [(ngModel)]="searchTerm" name="searchTerm">
      <button class="btn btn-light" type="submit">Search</button>
    </div>
</form>

        <div class="d-flex">

          <button type="button" class="btn btn-primary" routerLink="/st01">Sign Up</button>
          <button type="button" class="btn btn-primary" routerLink="/login">Sign In</button>
        </div>
      </div>
    </nav>
  </div> 


  
  <div>

    <section class="banner banner-light" style="background-image: url(assets/bg-banner.jpg);">
      <div class="inner">
        <div class="banner-div">
          <h1>Discover a World of Digital Artistry</h1>
          <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, reprehenderit!</h2>
          <button type="button" class="sign-up-button"  routerLink="/st01">Join Now</button>
        </div>
        <div class="banner-canvas">
          <div class="model-viewer">
            <span class="model-hint">
              Click and drag to rotate
            </span>
            <div *ngIf="loading" id="loader" class="loader">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <p>Loading 3D Model...</p>
            </div>
            <canvas #canvas id="canvas" class="model-canvas"></canvas>
          </div>
        </div>
      </div>
    </section>
  <br>

  <div class="container">

    
  <div class="wrapper  row ">
    <div class="flex">
   
    <div class="text ">
    <h2>Our Mission</h2>
    <h3 >We believe in the power of art to create a more inspired world.</h3>
    <p>At Artista, we're focused on building a future where art is a sustainable, enriching, and expected part of our daily lives. By bringing the creativity of today's artists into our everyday experience, we strive to create connections between local artists and their communities. </p>
    </div>
    </div>
    </div>
  

  <br><br>

  
  <div>
    <h1>Our Trending Original Art for Sale</h1>
  </div>
  <br>
  <div>
    <h3>Our online art gallery favorites. Don't miss your chance - shop original artwork now!</h3>
  </div>
  <br>
  <div>
    <h2>SEE ALL TRENDING ARTWORKS</h2>
  </div>
  <br>

  <div class="carousel-container" *ngIf="dataLoaded">
    <div class="carousel artwork-carousel">
      <div class="card2 shadow" *ngFor="let art of artsData" >
        <app-card [art]="art"></app-card>
      </div>
    </div>
    <button class="carousel-control prev" (click)="prev()">&#10094;</button>
    <button class="carousel-control next" (click)="next()">&#10095;</button>
  </div>
</div>

  <br><br>


  <section class=" ss">
   <div class="container">
    <h2>Art categories </h2>
   
    <br>
    <div class=" row">
      <!-- style="border: 1px solid #381f94; padding: 20px;" -->
      <article class="col-md-12 p-0">                                 
        <div class="d-flex">
          <div class="col-md-3">
          <ul>
          <li>
          <a href="" >Pixel Arts</a>
          </li>
         
          <li>
          <a href="" >Digital Collage</a>
          </li>
          <li>
          <a href="" >Vector Illustration</a>
          </li>
          
          </ul>
          </div>
          <div class="col-md-3">
          <ul>
          <li>
          <a href="">2D Animation</a>
          </li>
          <li>
          <a href="" >Digital Painting</a>
          </li>
          <li>
          <a href="" >Concent Art</a>
          </li>
         
         
          </ul>
          </div>
        
          <div class="col-md-3">
          <ul>
          <li>
          <a href="">3D Modeling</a>
          </li>
          <li>
            <a href="" >Digital Sculpting</a>
            </li>
            <li>
              <a href="" >Motion Graphics</a>
              </li>
         
          </ul>
          </div>
          <div class="col-md-3">
          <ul>
            <li>
              <a href="" >3D Animation</a>
              </li>
          <li>
          <a href="" >Digital Calligraphy</a>
          </li>
          <li>
          <a href="">Generative Arts</a>
          </li>
        
         
          </ul>
          </div>
          </div>
          </article>
            </div>

          </div>
</section>


<br><br><br>
  <div class="container">
  <div>
    <h1>Discover the Future of Creativity: Meet the Trendsetters in Digital Art!</h1>
  </div>
  <br>
  <div>
    <h2>SEE ALL TRENDING ARTISTS</h2>
  </div>

  <div class="carousel-container" *ngIf="dataLoaded">
    <div class="carousel artist-carousel">
      <div class="card1 shadow" *ngFor="let artist of artistsData" >
        <app-artist-card [artist]="artist"></app-artist-card>
      </div>
    </div>
    <button class="carousel-control prev" (click)="prevArtist()">&#10094;</button>
    <button class="carousel-control next"  (click)="nextArtist()">&#10095;</button>
  </div>



  <br><br>



  <div>
    <h1>About Us </h1>
    <div style="display: flex; align-items: center;">
        <div style="flex: 1;">

            <p class="paragraph">Whether you're an artist looking to sell your work or an admirer seeking to find unique digital art pieces, Artista is the perfect place to explore, inspire, and be inspired. Join our vibrant
              community and experience the future of digital art marketing. Sure, here's a brief description. Welcome to Artista, your ultimate destination for discovering and showcasing stunning digital art. Dive into a world where creativity knows no bounds and where artists can share their masterpieces with a global audience. At Artista, we believe in empowering artists
              by providing them with the tools and platform to connect with art enthusiasts and collectors...........</p>
            <div class="col text-center">
                <button class="btn btn-primary" routerLink="/help">More</button>
            </div>
        </div>
        <div style="flex: 1; text-align: right;">
            <img src="../../../assets/logonew.jpg" alt="Artista Logo" style="max-width: 100%;">
        </div>
    </div>
</div>
<br><br>
  </div>

  <div>
    <!-- footer -->
    <app-footer></app-footer>
 </div>

