


<div class="main">

   <!-- Navbar -->
  <div> 
    <nav class="navbar navbar-expand-lg navbar-custom fixed-top" data-bs-theme="dark">
      <div class="container-fluid">
        <!-- Artista Logo -->
        <img src="../../../assets/artista logo.jpg" alt="Artista Logo" class="custom-logo img-fluid" />
  
  
         <!-- Search Bar -->
    <form class="d-flex" (submit)="onSearchSubmit()">
      <input class="form-control me-sm-2" type="search" placeholder="Search" [(ngModel)]="searchTerm" name="searchTerm">
      <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
</form> 

        <div class="d-flex">
          <!-- <button type="button" class="btn btn-secondary btn-sm follow"  (click)="logout()"><strong>Log Out</strong></button> -->
          <button type="button" class="btn btn-success my-2 my-sm-0" routerLink="/st01"><strong>Sign Up</strong></button>
          <button type="button" class="btn btn-dark my-2 my-sm-0" routerLink="/login"><strong>Sign In</strong></button>
        </div>
      </div>
    </nav>
  </div> 
<!-- Banner -->
  <div>
    <div class="hero-body">
      <div class="container">
      <br>
      <div class="col-md-6">
        <p class="title">Discover a World of Digital Artistry</p>
      </div>
      
      <div class="col-md-4">
        
      </div>
      
    
       
      
    </div>
  </div>
  <br>


<!-- Display Trending Artworks -->
  <div class="container">
   
  <div>
    <h1>Our Trending Original Art for Sale</h1>
  </div>
  <br>
  <div>
    <h3>Our online art gallery favorites. Don't miss your chance - shop original artwork now!</h3>
  </div>
  <br>
  <div>
    <h2>SEE ALL TRENDING ARTWORKS</h2>
  </div>
  <br>

  <div class="carousel-container" *ngIf="dataLoaded">
    <div class="carousel artwork-carousel">
      <div class="card2 shadow" *ngFor="let art of artsData" >
        <app-card [art]="art"></app-card>
      </div>
    </div>
    <button class="carousel-control prev" (click)="prev()">&#10094;</button>
    <button class="carousel-control next" (click)="next()">&#10095;</button>
  </div>
</div>

  <br><br>
  </div>


  <!-- Display Trending Artists -->
  <div class="container">
  <div>
    <h1>Discover the Future of Creativity: Meet the Trendsetters in Digital Art!</h1>
  </div>
  <br>
  <div>
    <h2>SEE ALL TRENDING ARTISTS</h2>
  </div>
  
  <div class="carousel-container" *ngIf="dataLoaded">
    <div class="carousel artist-carousel">
      <div class="card1 shadow" *ngFor="let artist of artistsData" >
        <app-artist-card [artist]="artist"></app-artist-card>
      </div>
    </div>
    <button class="carousel-control prev" (click)="prevArtist()">&#10094;</button>
    <button class="carousel-control next"  (click)="nextArtist()">&#10095;</button>
  </div>



  <br><br>


  <!-- About Us -->
  <div style="border: 1px solid #381f94; padding: 20px;">
    <h1>About Us </h1>
    <div style="display: flex; align-items: center;">
        <div style="flex: 1;">
           
            <p class="paragraph">Whether you're an artist looking to sell your work or an admirer seeking to find unique digital art pieces, Artista is the perfect place to explore, inspire, and be inspired. Join our vibrant 
              community and experience the future of digital art marketing. Sure, here's a brief description. Welcome to Artista, your ultimate destination for discovering and showcasing stunning digital art. Dive into a world where creativity knows no bounds and where artists can share their masterpieces with a global audience. At Artista, we believe in empowering artists 
              by providing them with the tools and platform to connect with art enthusiasts and collectors...........</p>
            <div class="col text-center">
                <button class="btn btn-primary">More</button>
            </div>
        </div>
        <div style="flex: 1; text-align: right;">
            <img src="../../../assets/logonew.jpg" alt="Artista Logo" style="max-width: 100%;">
        </div>
    </div>
</div>
<br><br>
  </div>
</div>

  <div>
    <!-- footer -->
    <app-footer></app-footer>
 </div>

  