.form-container {
  padding: 80px;
}

.form-section {
  background-color: #f0eded;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}
input[type="file"] {
  display: none;
}

.position-relative {
  position: relative;
}

.profile-image-box {
  position: relative;
}

.empty-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
}

.bi-camera-fill {
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.button{
  font-size: 14px;
}
