<div class="container pt-3">
  <h1>Edit Profile</h1>
  <br />
  <div class="row">
    <div class="col">
      <p>Edit your information and click save to make changes.</p>
    </div>
    <div class="col" style="text-align: end">
      <a routerLink="/customer-profile-gallery">
        <button type="button" class="btn btn-primary">View Profile</button>
      </a>
    </div>
  </div>

  <form
    #editCustomerProfileForm="ngForm"
    (ngSubmit)="editDetails(editCustomerProfileForm)"
    ngModelOptions="{standalone: true}"
  >
    <div class="form-container">
      <div class="form-section">
        <h2>Banner Image</h2>
        <div class="row mb-3">
          <div class="col-md-4">
            <button
              *ngIf="customer.banner_img_url"
              (click)="removeBannerImage()"
              class="btn btn-danger"
              style="margin-top: 5px; margin-right: 10px"
              type="button"
            >
              Remove
            </button>
            <div class="mb-3" *ngIf="!customer.banner_img_url">
              <label for="banner-image" class="form-label">Banner Image:</label>
              <input
                type="file"
                class="form-control"
                style="width:1050px; height: 200px; margin-left: 10px;"
                id="banner-image"
                name="banner-image"
                (change)="onBannerFileSelected($event)"
              />
              <img
               *ngIf="customer.banner_img_url"
               [src]="customer.banner_img_url"
                alt="Banner Image"
                style="width: 100%; height: auto; margin-left: 10px; margin-top: 10px;"
                />
              <button
                (click)="uploadBannerImage('CustomerBanners','categoryBanner')"
                class="btn btn-primary"
                style="margin-top: 10px; margin-right: 10px"
                type="button"
              >
                Upload Image
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-section">
        <div class="row mb-3">
          <h2>Profile Image</h2>
          <div class="col-md-4">
            <button
              *ngIf="customer.profile_photo_url"
              (click)="removeExistingImage()"
              class="btn btn-danger"
              style="margin-top: 5px; margin-right: 10px"
              type="button"
            >
              Remove
            </button>
            <div class="mb-3" *ngIf="!customer.profile_photo_url">
              <label for="profile-image" class="form-label">Profile Image:</label>
              <input
                type="file"
                class="form-control"
                style="width:250px; height: 200px; margin-left: 10px;"
                id="profile-image"
                name="profile-image"
                (change)="onFileSelected($event)"
              />
              <img
               *ngIf="customer.profile_photo_url"
               [src]="customer.profile_photo_url"
                alt="profile-image"
                style="width: 100%; height: auto; margin-left: 10px; margin-top: 10px;"
                />
              <button
                (click)="newImageUpload('Customer','profilePicture')"
                class="btn btn-primary"
                style="margin-top: 10px; margin-right: 10px"
                type="button"
              >
                Upload Image
              </button>
            </div>
          </div>

          <div class="col-md-8">
            <div class="form-section">
              <div class="row mb-3">
                <h2>Basic Information</h2>
                <div class="col-sm-6">
                  <label for="first-name" class="form-label">First Name:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="first-name"
                    [(ngModel)]="customer.fName"
                    name="first-name"
                    required
                    #newfname="ngModel"
                  />
                  <div
                    *ngIf="newfname.invalid && (newfname.dirty || newfname.touched)"
                    class="alert"
                  >
                    <div
                      *ngIf="newfname.errors?.['required']"
                      class="text-danger lead fs-6"
                    >
                      First Name is required
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <label for="last-name" class="form-label">Last Name:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="last-name"
                    [(ngModel)]="customer.LName"
                    name="last-name"
                    required
                    #newlname="ngModel"
                  />
                  <div *ngIf="newlname.invalid && (newlname.dirty || newlname.touched)" class="alert">
                    <div *ngIf="newlname.errors?.['required']" class="text-danger lead fs-6">
                      Last Name is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <textarea
                  id="description"
                  class="form-control"
                  rows="4"
                  [(ngModel)]="customer.description"
                  name="description"
                  required
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-section">
        <h2>Login Details</h2>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="email" class="form-label">Email:</label>
            <input
              type="email"
              class="form-control"
              id="email"
              required
              [(ngModel)]="customer.email"
               name="email"
              #emailInput="ngModel"
            />
            <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="alert">
              <div *ngIf="emailInput.errors?.['required']" class="text-danger lead fs-6">
                Email is required
              </div>
              <div *ngIf="emailInput.errors?.['email']" class="text-danger lead fs-6">
                Please enter a valid email address
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="new-password" class="form-label">New Password:</label>
            <input
              type="password"
              class="form-control"
              id="new-password"
              [(ngModel)]="customer.newPassword"
              name="new-password"
              #newPasswordInput="ngModel"
            />
          </div>
          <div class="col-md-6">
            <label for="confirm-password" class="form-label">Confirm Password:</label>
            <input
              type="password"
              class="form-control"
              id="confirm-password"
              [(ngModel)]="confirmPassword"
              name="confirm-password"
              #confirmPasswordInput="ngModel"
            />
            <div *ngIf="customer.newPassword && confirmPassword !== customer.newPassword && (confirmPasswordInput.dirty || confirmPasswordInput.touched)" class="alert">
              <div class="text-danger lead fs-6">
                Passwords do not match
              </div>
            </div>
          </div>

        </div>
      </div>
      <br />
      <br />
      <div class="form-section">
        <h2>Regional Details</h2>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="country" class="form-label">Location:</label>
            <input
              type="text"
              class="form-control"
              id="country"
              required
              [(ngModel)]="customer.location"
              name="country"
            />
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-5 mb-3">
        <div style="padding-right: 400px">
          <button type="button" class="btn btn-secondary">
            Discard Profile
          </button>
        </div>
        <div style="padding-left: 400px">
          <button type="submit" class="btn btn-primary">Save Profile</button>
        </div>
      </div>
    </div>
  </form>
</div>
