<h2>Artwork Categories</h2>

<div class="card card1" style="margin-bottom: 10px;">
    <div class="card-title fw-medium">
        <p>Total Categories</p>
        <hr>
    </div>
    <div class="card-body" style="align-items: flex-start; text-align: left;">
        <h1 class="card-title">6</h1>
    </div>
</div>

<div class="details">
    <h4 style="margin-top: 30px;">Edit / Add Category</h4>
    <form class="d-flex">
        <input class="form-control me-sm-2 rounded-pill border border-primary" type="search"
            placeholder="Search Category">
        <button class="btn btn-primary my-2 my-sm-0 rounded-pill" style="width: 150px;"
        (click)="openAddCategoryModal()"
        >
            New Category
        </button>
    </form>
    <div class="cards mt-2 border border-secondary-subtle rounded p-3">
        <div class="card m-2" style="width: 19.2rem; height: 33rem;" *ngFor="let card of categoryData">
            <img src={{card.imageSrc}} class="card-img-top" alt="Banner" style="min-height: 200px; width: 100%;">
            <div class="card-body">
                <div class="text-center m-2">
                    <h5 class="card-title">{{card.title}}</h5>
                    <p class="card-text" style="font-size: x-small;">{{card.description}}</p>
                </div>
                <div class="fw-medium">
                    <div class="mb-2">
                        Total Creations: {{card.totalCreations}}
                        </div>
                        <div class="mb-2">
                        Margin: {{card.margin}}
                        </div>
                        <div class="mb-2">
                        File Types:
                        <span *ngFor="let types of card.fileTypes; let last = last">
                            {{types}}{{!last ? ', ' : ''}}
                        </span>
                        </div>
                </div>
                
                <div class="d-flex justify-content-between align-items-center">
                    <button class="btn btn-danger"><i class="bi bi-trash3-fill"></i></button>
                    <button class="btn btn-primary"><i class="bi bi-pencil-fill"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal id="modal-addCategory">
    <div class="new-modal">
        <div class="new-modal-body">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="categoryName" class="form-label
                            ">Category Name</label>
                            <input type="text" class="form-control" id="categoryName" placeholder="Category Name">
                        </div>  
                        <div class="mb-3">
                            <label for="categoryDescription" class="form-label">Category Description</label>
                            <textarea class="form-control" id="categoryDescription" rows="3" placeholder="Category Description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="categoryMargin" class="form-label
                            ">Margin</label>
                            <input type="text" class="form-control" id="categoryMargin" placeholder="Margin">
                        </div>
                        <div class="mb-3">
                            <label for="categoryFileTypes" class="form-label
                            ">File Types</label>
                            <input type="text" class="form-control" id="categoryFileTypes" placeholder="File Types">
                        </div>
                        <div class="mb-3">
                            <label for="categoryImage" class="form-label
                            ">Category Image</label>
                            <input type="file" class="form-control" id="categoryImage" placeholder="Category Image">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</app-modal>

