.container
{
    background-image: linear-gradient(to right, #006ca5, #006ca5);


}
h1
{
    color: #4D63D9;
    font-size: xx-large;
    font-weight: bold;
}
label
{
    font-weight: bold;
}
h3{
    font-weight: bold;
}