.container
{
    background-image: linear-gradient(to right, #006ca5, #006ca5);


}
h1
{
    color: #4D63D9;
    font-size: xx-large;
    font-weight: bold;
}
label
{
    font-weight: bold;
}
h3{
    font-weight: bold;
}
img {
    width: 100%;
    height: auto;
    margin: 10px;
    display: block;
    max-width: 500px;
}

/* For medium devices (tablets) */
@media (min-width: 768px) {
    img {
        margin: 20px;
    }
}

/* For large devices (desktops) */
@media (min-width: 1024px) {
    img {
        margin: 30px;
    }
}
