.container-fluid {
    position: relative; /* Ensure the container serves as the positioning context */
    z-index:1; 
 /* Set a lower z-index for the container */
}

.for-you-text {
    font-size: 20px;
    font-weight:600;
    color: #0b466e; /* Adjust the color as needed */
    white-space: nowrap;
    position: relative;
    top: 0px;
    margin-left: 38px;
}
.custom-button {
    position: absolute; /* Position the button relative to the container */
    top: -90%; /* Adjust positioning as needed */
    right: 390%; /* Adjust positioning as needed */
    z-index: 2; /* Set a higher z-index value for the button */
    font-weight: 400;
    width: 700%;
    border-color: #047977;
    background-color: #0f969c;
    border-radius: 4px;
    transition: transform 0.3s ease, color 0.3s ease; /* Added transform */
}

.custom-button:hover {
  color: rgb(145, 222, 250);
  transform: scale(1.1); /* Zoom-in effect */
  background-color: #115d70;
}

.z-custom-button {
    z-index: 999; /* Set a higher z-index for the button wrapper */
}


@media (max-width: 576px) {
    .custom-button {
        font-size: 80%;
    }
}

.category-bar {
    min-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgba(219, 219, 219, 0.677);
    margin-top: -10px;
    
}
.explore-categories-text {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: -2px;
    margin-top: 8px;
    color: #0b466e; /* Adjust the color as needed */
}
.marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 50s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.btn-category {
    display: inline-block;
    width: 175px;
    height: 125px;
    margin: 5px;
    background-size: cover;
    background-position: center;
    background-color: #93b7c5;
    color: #fff;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    white-space: nowrap; /* Prevents button text from wrapping */
    display: inline-block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8) !important; /* Makes the background a bit darker */
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-category:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(1.1);
    font-weight: bold;
    color: #ffffff;
   
}
.category-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgb(0, 0, 0,0.8); /* Adds a semi-transparent background to the text */
    padding: 10px;
    transition: font-weight 0.3s ease;
}

.btn-category:hover .category-content {
    font-weight: bold; /* Bolds the text on hover */
}

@media (max-width: 576px) {
    .btn-category {
        font-size: 80%;
        width: 150px;
        height: 200px;
        padding: 8px 16px;
    }
}
.brief-phrase {
    text-align: center;
    margin: 0 0;
    background-color: #f0f0f0;
   
   
    width:100%;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.brief-phrase p {
    font-size: 18px;
    font-weight:600;
    color: #0b466e; /* Adjust the color as needed */
    white-space: nowrap;
    margin: 0;
}