<div class="ss">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/ArtistaLogo.jpg" alt="ARTISTA Logo">
      </div>
      <div class="col-md-6 mt-1 p-4">
        <div class="card">
          <div class="card-body">
            <div class="sign-in-container">
              <form class="row g-3" [formGroup]="signupForm" (submit)="createAccount()">
                <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                  {{ errorMessage }}
                </div>
                <div *ngIf="Message" class="alert alert-success" role="alert">
                  {{ Message }}
                </div>
                <p>Step 02 of 03</p>
                <div class="col-md-6">
                  <label class="form-label">First Name</label>
                  <input type="text" class="form-control" formControlName="fName">
                  <div *ngIf="signupForm.get('fName')?.invalid && signupForm.get('fName')?.touched" class="text-danger">
                    First Name is required
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Last Name</label>
                  <input type="text" class="form-control" formControlName="lName">
                  <div *ngIf="signupForm.get('lName')?.invalid && signupForm.get('lName')?.touched" class="text-danger">
                    Last Name is required
                  </div>
                </div>
                <div class="col-12">
                  <label class="form-label">Date of Birth</label>
                  <input type="date" class="form-control" formControlName="dob">
                  <div *ngIf="signupForm.get('dob')?.invalid && signupForm.get('dob')?.touched" class="text-danger">
                    Date of Birth is required
                  </div>
                </div>
                <div class="col-12">
                  <label class="form-label">Location</label>
                  <select class="form-select" formControlName="location">
                    <option value="" disabled selected>Select your location</option>
                    <option value="Australia">Australia</option>
                    <option value="Belgium">Belgium</option>
                    <option value="Brazi">Brazil</option>
                    <option value="Canada">Canada</option>
                    <option value="Chaina">Chaina</option>
                    <option value="Denmark">Denmark</option>
                    <option value="France">France</option>
                    <option value="Germany">Germany</option>
                    <option value="Greece">Greece</option>
                    <option value="India">India</option>
                    <option value="Japan">Japan</option>
                    <option value="Netherland">Netherland</option>
                    <option value="New Zealand">New Zealand</option>
                    <option value="Russia">Russia</option>
                    <option value="South Africa">South Africa</option>
                    <option value="South Korea">South Korea</option>
                    <option value="Sri Lanka">Sri Lanka</option>
                    <option value="Switzerland">Switzerland</option>
                    <option value="United Kingdom">United Kingdom</option>
                    <option value="United State">United States</option>
                  </select>
                  <div *ngIf="signupForm.get('location')?.invalid && signupForm.get('location')?.touched" class="text-danger">
                    Location is required
                  </div>
                </div>
                <div class="col-12">
                  <label class="form-label">Role</label>
                  <select class="form-select" formControlName="role">
                    <option value="" disabled selected>Select your role</option>
                    <option value="artist">Artist</option>
                    <option value="customer">Customer</option>
                  </select>
                  <div *ngIf="signupForm.get('role')?.invalid && signupForm.get('role')?.touched" class="text-danger">
                    Role is required
                  </div>
                </div>
                <div class="col-12">
                  <label class="form-label">Registration Date</label>
                  <input type="date" class="form-control" formControlName="registered_at" readonly>
                  <div *ngIf="signupForm.get('registered_at')?.invalid && signupForm.get('registered_at')?.touched" class="text-danger">
                   Registration Date  is required
                  </div>
                </div>
               
                <div class="col-12">
                  <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">Create Account</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
