<app-navbar></app-navbar>
<div class="container">

  <div class="find-art-column">
    <h3>Find An Art</h3>
    <br>
    <h5>Category</h5>
    <ul>
        <li><input type="checkbox" id="3d-art" name="category" value="3d-art"><label for="3d-art">  3D Art</label></li>
        <li><input type="checkbox" id="digital-arts" name="category" value="digital-arts"><label for="digital-arts">  Digital Arts</label></li>
        <li><input type="checkbox" id="generative-arts" name="category" value="generative-arts"><label for="generative-arts">   Generative Arts</label></li>
        <li><input type="checkbox" id="motion-arts" name="category" value="motion-arts"><label for="motion-arts">  Motion Arts</label></li>
        <li><input type="checkbox" id="pixel-art" name="category" value="pixel-art"><label for="pixel-art">  Pixel Art</label></li>
        <li><input type="checkbox" id="vector-art" name="category" value="vector-art"><label for="vector-art">  Vector Art</label></li>
        <li><input type="checkbox" id="anime" name="category" value="anime"><label for="anime">  Anime</label></li>
    </ul>

    <div class="dropdown-container">
      <label for="sort-options"><b>Sort by: </b></label>
      <br>
      <select id="sort-options" name="sort-options" [(ngModel)]="selectedOption" (change)="onSortChange($event)">
          <option value="name-asc">Name (A-Z)</option>
          <option value="name-desc">Name (Z-A)</option>
          <option value="date-asc">Date (Oldest to Newest)</option>
          <option value="date-desc">Date (Newest to Oldest)</option>
          <option value="price-asc">Price (Low to High)</option>
          <option value="price-desc">Price (High to Low)</option>
      </select>
    </div>
</div>

  <div class="art-gallery-column">
<section class="head-title-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center mt-5">
        <h3 class="text-color">Embark on a journey through our art gallery to find your perfect masterpiece!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center mt-3">
        <div class="input-group">
          <div class="form-outline" data-mdb-input-init>
            <input #searchkeyword (keyup)="searchByKeyword(searchkeyword.value)" id="search-input" type="search" class="form-control custom-search" placeholder="Search for Arts" aria-label="Search for Arts" aria-describedby="search-button">
          </div>
          <!-- <button id="search-button" type="button" class="btn btn-primary button-search">
            <i class="bi bi-search"></i>
          </button> -->

        </div>
      </div>
    </div>

    <div class="container mt-5 mb-3">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        <div class="col mb-3" *ngFor="let arts of filteredArts">
          <app-arts [art]="arts"></app-arts>
        </div>
      </div>
    </div>
  </div>
</section>

</div>
</div>

<app-footer></app-footer>
