.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.text-color {
  color: var(--body-text-color);
  font-size: 130%;
  font-weight: bold;
}

.custom-search {
  width: 100%;
  margin-left: 0;
}

.search-button {
  margin-left: 1px;
}

.find-art-column {
  width: 100%;
  padding: 1rem;
}

.art-gallery-column {
  width: 100%;
}

.col {
  width: 100%;
  padding: 1rem;
}

.dropdown-container {
  margin: 10px;
  font-family: Arial, sans-serif;
}

label {
  margin-right: 10px;
}

select {
  padding: 5px;
  font-size: 14px;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .find-art-column {
    width: 25%;
  }

  .art-gallery-column {
    width: 75%;
  }

  .col {
    width: calc(50% - 1rem);
  }
}

@media (min-width: 992px) {
  .find-art-column {
    width: 20%;
  }

  .art-gallery-column {
    width: 80%;
  }

  .col {
    width: calc(33.33% - 1rem);
  }
}
