<app-navbar></app-navbar>
<div class="container">

  <div class="find-art-column">
    <h3>Find An Art</h3>
    <br>
    <h5>Category</h5>
    <ul>
      <li *ngFor="let category of categories">
        <input type="checkbox" id="{{ category.category_id }}" name="category" [value]="category.name"
          (change)="updateCategoryFilter($event, category.name)">
        <label for="{{ category.category_id }}">{{ category.name }}</label>
      </li>
    </ul>
    <br>
    <h5>Price Range</h5>
    <label for="customRange2" class="form-label">Min - Max ($) </label>
    <input type="range" class="form-range" min="10" max="1000" id="customRange2" (input)="onPriceRangeChange($event)">
    <div class="d-flex justify-content-between">
      <small>10$</small>
      <small>1000$</small>
    </div>

    <br>
    <br>

    <div class="dropdown-container">
      <label for="sort-options"><b>Sort by: </b></label>
      <br>
      <select id="sort-options" name="sort-options" [(ngModel)]="selectedOption" (change)="onSortChange($event)">
        <option value="name-asc">Name (A-Z)</option>
        <option value="name-desc">Name (Z-A)</option>
        <option value="date-asc">Date (Oldest to Newest)</option>
        <option value="date-desc">Date (Newest to Oldest)</option>
        <option value="price-asc">Price (Low to High)</option>
        <option value="price-desc">Price (High to Low)</option>
        <option value="popularity-asc">Total Likes (Low to High)</option>
        <option value="popularity-desc">Total Likes (High to Low)</option>
      </select>
    </div>

  </div>

  <div class="art-gallery-column">
    <section class="head-title-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 text-center mt-5">
            <h3 class="text-color">Embark on a journey through our art gallery to find your perfect masterpiece!</h3>
          </div>
        </div>
        <div class="container mt-5 mb-3">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4" style="overflow-y: scroll; overflow-x: hidden;">
            <div class="col mb-3" *ngFor="let art of searchResults">
              <app-art-card [art]="art"></app-art-card>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<app-footer></app-footer>
