.container {
  margin-top: 20px;
}

.text-color {
  color: var(--body-text-color);
  font-size: 130%;
  font-weight: bold;
}

.find-art-column {
  padding: 1rem;
}

.art-gallery-column {
  padding: 1rem;
}

.col > .wrapper {
  padding: 1rem; /* Adjust padding as needed */
}

.btn {
  background-color: #0F969C; /* Custom button background */
  color: white; /* Custom button text color */
  border: none;
  border-radius: 10px; /* Rounded corners */
  font-size: 14px; /* Font size */
  font-weight: bold; /* Bold text */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px; /* Adjust width as needed */
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 30px;
}

.btnrx {
  background-color: #4b5358; /* Custom button background */
  color: white; /* Custom button text color */
  border: none;
  border-radius: 10px; /* Rounded corners */
  font-size: 14px; /* Font size */
  font-weight: bold; /* Bold text */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px; /* Adjust width as needed */
  padding-top: 20px;
  padding-bottom: 10px;
}

.btn .bi-filter {
  font-size: 30px; /* Adjust this value to increase/decrease the icon size */
}

.results-container {
  display: flex;
  align-items: center;
  gap: 20px; /* Adjust the gap between the button and the tags as needed */
  margin: 20px 0;
}

.results-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.suggested-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag-button {
  background-color: #bdb7b7;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.tag-button:hover {
  background-color: #d7d5d5;
}

.tag-button .remove-tag {
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}

