.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.text-color {
  color: var(--body-text-color);
  font-size: 130%;
  font-weight: bold;
}

.custom-search {
  width: 100%;
  margin-left: 0;
}

.find-art-column {
  width: 100%;
  padding: 1rem;
}

.art-gallery-column {
  width: 100%;
}

.col {
  width: 100%;
  padding: 1rem;
}

.dropdown-container {
  margin: 10px;
  font-family: Arial, sans-serif;
}

label {
  margin-right: 10px;
}

select {
  padding: 5px;
  font-size: 14px;
}
.btn {
  background-color: #0F969C; /* Red background */
  color: white; /* White text */
  border: none;
  border-radius: 10px; /* Rounded corners */
  font-size: 14px; /* Font size */
  font-weight: bold; /* Bold text */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px; /* Adjust width as needed */
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 30px;
}
.btnrx {
  background-color: #4b5358; /* Red background */
  color: white; /* White text */
  border: none;
  border-radius: 10px; /* Rounded corners */
  font-size: 14px; /* Font size */
  font-weight: bold; /* Bold text */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px; /* Adjust width as needed */
  padding-top: 20px;
  padding-bottom: 10px;
}
.btn .bi-filter {
  font-size: 30px; /* Adjust this value to increase/decrease the icon size */
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .find-art-column {
    width: 25%;
  }

  .art-gallery-column {
    width: 75%;
  }

  .col {
    width: calc(50% - 1rem);
  }
}

@media (min-width: 992px) {
  .find-art-column {
    width: 20%;
  }

  .art-gallery-column {
    width: 80%;
  }

  .col {
    width: calc(33.33% - 1rem);
  }
}
